<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{fragments/layout-without-sidebar :: layout(title='로그인')}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/login.css}">
</th:block>

<th:block layout:fragment="script">
    <script th:if="${logoutMessage}">
        alert("로그아웃 되었습니다.");
    </script>
</th:block>

<div layout:fragment="~{content}">
    <div class="content">
        <section class="login-section">
            <div class="login-container">
                <img th:src="@{/images/logo/logo-with-otter.png}" alt="Logo-text" class="logo-image">
                <form th:action="@{/auth/login}" method="post">
                    <div class="form-group">
                        <input type="text" id="username" name="username" placeholder="아이디" required>
                    </div>
                    <div class="form-group">
                        <input type="password" id="password" name="password" placeholder="비밀번호" required>
                    </div>
                    <div th:if="${param.error}" class="error-message">
                        <strong>아이디</strong> 또는 <strong>비밀번호</strong>가 잘못되었습니다.
                    </div>
                    <button type="submit" class="btn">로그인</button>
                </form>
            </div>
        </section>
    </div>
</div>
</html>
