<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/common/input.css}"/>
  <link rel="stylesheet" th:href="@{/css/layout/input-modal.css}"/>
</th:block>

<div class="input-modal">
  <h3>공휴일 추가</h3>
  <form action="/api/holiday/add" onsubmit="submitInsertForm(event)">
    <div class="input-container">
      <label for="dateName" style="font-weight: bold;">공휴일 이름</label>
      <input type="text" id="dateName" name="dateName"/>
    </div>
    <div class="input-container">
      <label for="locDate" style="font-weight: bold;">날짜</label>
      <input type="date" id="locDate" name="locDate"/>
    </div>
    <div class="btn-container">
      <div id="error-message" class="error-message"></div>
      <button type="submit" class="btn">등록</button>
    </div>
  </form>
</div>

</html>
