<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<div>
    <div>
        <h3>연도 단위 공휴일 생성</h3>
        <form action="/api/holiday/" onsubmit="submitYearForm(event)">
            <label for="yearInput" style="font-weight: bold;">연도 : </label>
            <input type="text" id="yearInput" name="year" placeholder="연도를 입력해주세요."/>
            <div id="error-message" class="error-message"></div>
            <button type="submit" class="btn">등록</button>
        </form>
    </div>
</div>

</html>
