<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{fragments/layout-with-modal :: layout(title='내 정보 수정')}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/employee.css}"/>
</th:block>

<th:block layout:fragment="script">
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:src="@{/js/daum-postcode-API.js}"></script>
    <script th:src="@{/js/employee.js}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            separateEmail();
            updateDateTimeElements();
            updatePhoneNumberElement();
            errorMessage = document.querySelector(".error-message");
        });
    </script>
</th:block>

<div layout:fragment="~{content}">
    <div class="content">
        <form th:action="@{/api/employee/update}" onsubmit="submitUpdateForm(event)" enctype="multipart/form-data">
            <div id="file-area">
                <img id="employee-picture" class="employee-picture" th:src="${pictureUrl}"/><br>
                <p>사진은 10MB까지 업로드 가능합니다.</p>
                <span id="file-name" th:text="${employee.picture}"></span>
                <label for="picture" class="input-file-btn">사진 업로드</label>
                <input type="file" id="picture" class="hidden" name="picture" onchange="validateImage(this)">
            </div>
            <table>
                <tr>
                    <th>사원 ID</th>
                    <td th:text="${employee.employeeId}"></td>
                    <input type="hidden" id="employeeId" name="employeeId" th:value="${employee.employeeId}" readonly/>
                </tr>
                <tr>
                    <th>이름</th>
                    <td th:text="${employee.name}"></td>
                    <input type="hidden" id="name" name="name" th:value="${employee.name}" readonly/>
                </tr>
                <tr>
                    <th>주민등록번호</th>
                    <td th:text="${employee.birth} + '-' + ${employee.residentRegistrationNumber}"></td>
                    <input type="hidden" id="birth" name="birth" th:value="${employee.birth}" size="6" readonly/>
                    <input type="hidden" id="residentRegistrationNumber" name="residentRegistrationNumber" th:value="${employee.residentRegistrationNumber}" size="7" readonly/>
                </tr>
                <tr>
                    <th>전화번호</th>
                    <td>
                        <input type="text" id="phoneInput" name="phoneInput" maxlength="11" placeholder="숫자만 입력해주세요." th:value="${employee.phone}">
                        <input type="hidden" id="phone" name="phone">
                    </td>
                </tr>
                <tr>
                    <th>이메일</th>
                    <td>
                        <input type="text" id="emailLocal" name="emailLocal"/>
                        @
                        <input type="text" id="customEmailDomain" name="customEmailDomain" class="hidden">
                        <select id="emailDomain" name="emailDomain" onchange="updateCustomField()">
                            <option value="custom">직접입력</option>
                            <option value="naver.com">naver.com</option>
                            <option value="gmail.com">gmail.com</option>
                            <option value="icloud.com">icloud.com</option>
                            <option value="outlook.com">outlook.com</option>
                            <option value="nate.com">nate.com</option>
                            <option value="daum.net">daum.net</option>
                            <option value="yahoo.com">yahoo.com</option>
                        </select>
                        <input type="hidden" id="email" name="email" th:value="${employee.email}"/>
                    </td>
                </tr>
                <tr>
                    <th>주소</th>
                    <td>
                        <input type="text" id="address" name="address" th:value="${employee.address}"/>
                        <input type="button" onclick="execDaumPostcode()" value="우편번호 찾기">
                    </td>
                </tr>
                <tr>
                    <th>상세 주소</th>
                    <td>
                        <input type="text" id="detailAddressInput" name="detailAddressInput" th:value="${employee.detailAddress}">
                        <input type="text" id="extraAddress" placeholder="참고항목" readonly>
                        <input type="hidden" id="detailAddress" name="detailAddress" th:value="${employee.detailAddress}">
                    </td>
                </tr>
                <tr>
                    <th>부서</th>
                    <td th:text="${employee.department}"></td>
                    <input type="hidden" id="department" name="department" th:value="${employee.department}" readonly/>
                </tr>
                <tr>
                    <th>직급</th>
                    <td th:text="${employee.employeeId}"></td>
                    <input type="hidden" id="position" name="position" th:value="${employee.position}" readonly/>
                </tr>
                <tr>
                    <th>입사 날짜</th>
                    <td th:text="${employee.hireDate}"></td>
                    <input type="hidden" id="hireDate" name="hireDate" th:value="${employee.hireDate}" readonly/>
                </tr>
                <tr>
                    <th>재직 상태</th>
                    <td th:text="${employee.status}"></td>
                    <input type="hidden" id="status" name="status" th:value="${employee.status}" readonly/>
                </tr>
                <tr>
                    <th>남은 연차</th>
                    <td th:text="${employee.remainingLeave}"></td>
                    <input type="hidden" id="remainingLeave" name="remainingLeave" th:value="${employee.remainingLeave}" readonly/>
                </tr>
                <tr>
                    <th>사원 정보 수정자</th>
                    <td th:if="${employee.modifiedBy} != null" th:text="${employee.modifiedBy}"></td>
                    <td th:unless="${employee.modifiedBy} != null">사원 정보에 대한 수정 내역이 없습니다.</td>
                    <input type="hidden" name="modifiedBy" th:value="${employee.modifiedBy}" readonly/>
                </tr>
                <tr>
                    <th>사원 정보 수정일시</th>
                    <td th:if="${employee.lastModified} != null" th:text="${employee.lastModified}" class="dateTime"></td>
                    <td th:unless="${employee.lastModified} != null">사원 정보에 대한 수정 내역이 없습니다.</td>
                    <input type="hidden" name="lastModified" th:value="${employee.lastModified}" readonly/>
                </tr>
            </table>
            <div class="error-message"></div>
            <button type="submit" class="btn">내 정보 수정</button>
            <button type="button" class="btn" th:onclick="'window.location.href=\'/employee/myInfo\''">수정 취소</button>
            <button type="button" class="btn" onclick="window.location.reload()">초기화</button>
        </form>
    </div>
</div>

</html>
