/* styles.css */
.logo-image {
    width: 300px;
}

.httpstatus-section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 750px;
    text-align: center;
}

.httpstatus-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo-area {
    margin: 10px;
}

.text-area {
    margin: 10px;
    text-align: left;
    flex-basis: 100%;
}

.httpstatus-container h2 {
    margin-top: 0;
}

.httpstatus-container p {
    color: #888;
}
