<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">


<form id="payroll-edit-form" class="ratio-edit-form" th:action="@{/api/salary/payment/payroll}" onsubmit="submitUpdateForm(event)">
    <div class="ratio-edit-header">
        <h3>급여 비율 수정</h3>
        <div class="btn-container">
            <button type="reset" class="btn">초기화</button>
            <button type="submit" id="edit-payroll-ratio" class="btn">수정 완료</button>
        </div>
    </div>
    <table border="1">
        <tr>
            <td>기본급</td>
            <td><input type="text" name="baseSalaryRatio" th:value="${payrollRatios.baseSalaryRatio}"/></td>
        </tr>
        <tr>
            <td>직책 수당</td>
            <td><input type="text" name="positionAllowanceRatio" th:value="${payrollRatios.positionAllowanceRatio}"/></td>
        </tr>
        <tr>
            <td>직책 수당</td>
            <td><input type="text" name="mealAllowanceRatio" th:value="${payrollRatios.mealAllowanceRatio}"/></td>
        </tr>
        <tr>
            <td>교통비</td>
            <td><input type="text" name="transportAllowanceRatio" th:value="${payrollRatios.transportAllowanceRatio}"/></td>
        </tr>
        <tr>
            <td>개인 성과급</td>
            <td><input type="text" name="personalBonusRatio" th:value="${payrollRatios.personalBonusRatio}"/></td>
        </tr>
        <tr>
            <td>팀 성과급</td>
            <td><input type="text" name="teamBonusRatio" th:value="${payrollRatios.teamBonusRatio}"/></td>
        </tr>
        <tr>
            <td>명절 보너스</td>
            <td><input type="text" name="holidayBonusRatio" th:value="${payrollRatios.holidayBonusRatio}"/></td>
        </tr>
        <tr>
            <td>연말 보너스</td>
            <td><input type="text" name="yearEndBonusRatio" th:value="${payrollRatios.yearEndBonusRatio}"/></td>
        </tr>
    </table>
</form>
</html>
     