<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{fragments/layout :: layout(title='내 급여 관리')}">

<th:block layout:fragment="css">
    <link th:href="@{/css/common/pagination.css}" rel="stylesheet">
    <style>
        .list tbody tr:hover {
            cursor: pointer;
        }
        .true {
            color: green;
            font-weight: bold;
        }
        .false {
            color: red;
            font-weight: bold;
        }
        .section-header {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
        }
    </style>
</th:block>

<th:block layout:fragment="script">
    <script>
        // AJAX PUT 요청 - 계좌정보 수정
        function submitUpdateForm(event) {
            event.preventDefault();

            const form = event.currentTarget;
            const formData = new FormData(form);
            const actionUrl = form.action;

            // 유효성 검사 - 빈 필드 여부 확인
            let isValid = true;
            for (let [name, value] of formData.entries()) {
                if (!value.trim()) {
                    alert("'" + name + "' 항목이 비어있습니다.\n모든 계좌정보를 채워주세요.");
                    isValid = false;
                    break;
                }
            }
            if (!isValid) return;

            fetch(actionUrl, {
                method: 'PATCH',
                body: formData
            })
                .then(response => response.text().then(data => ({
                    status: response.status,
                    text: data
                })))
                .then(response => {
                    console.log('서버 응답 데이터 :', response.text);
                    if (response.status === 200) {
                        alert(response.text);
                        window.location.reload();
                    } else if (response.status === 400) {
                        alert(response.text);
                    } else {
                        alert('계좌정보 수정 중 오류가 발생하였습니다.\n재시도 후 문제가 지속하여 발생시 관리자에게 문의해주세요');
                    }
                })
                .catch(error => {
                    console.error('Error :', error.message);
                    alert('오류가 발생하였습니다.\n관리자에게 문의해주세요.');
                });
        }
    </script>
</th:block>

<div layout:fragment="~{content}">
    <div class="content">
        <div class="salary-section">
            <div class="section-header">
                <h3>나의 급여 정보</h3>
                <button type="button" class="btn" th:employeeId="${salaryList.get(0).employeeId}" onclick="openModal('/salary/' + this.getAttribute('employeeId') + '/account/edit')">계좌 정보 수정</button>
            </div>
            <table border="1">
                <thead>
                <tr>
                    <td>직급</td>
                    <td>계좌은행</td>
                    <td>계좌번호</td>
                    <td>연봉</td>
                    <td>등록된 날짜</td>
                    <td>사용 여부</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="salaryInfo : ${salaryList}">
                    <td th:text="${salaryInfo.position}"></td>
                    <td th:text="${salaryInfo.bank}"></td>
                    <td th:text="${salaryInfo.accountNumber}"></td>
                    <td th:text="${#numbers.formatInteger(salaryInfo.annualSalary, 3, 'COMMA')}"></td>
                    <td th:text="${salaryInfo.createdAt}"></td>
                    <td th:text="${salaryInfo.status} ? '사용 중' : '사용 중지'"
                        th:classappend="${salaryInfo.status} ? 'true' : 'false'"></td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="payslip-section">
            <div class="section-header">
                <h3>급여명세서 목록</h3>
                <form th:action="@{/salary/payment/myPayslips}" method="get" id="pageSizeForm">
                    <input type="hidden" name="page" th:value="1"/>
                    <select name="size" onchange="document.getElementById('pageSizeForm').submit()">
                        <option th:value="10" th:text="'10개씩 보기'" th:selected="${pageSize == 10}">10개씩 보기</option>
                        <option th:value="25" th:text="'25개씩 보기'" th:selected="${pageSize == 25}">25개씩 보기</option>
                        <option th:value="50" th:text="'50개씩 보기'" th:selected="${pageSize == 50}">50개씩 보기</option>
                    </select>
                </form>
            </div>
            <table border="1" class="list">
                <thead>
                <tr>
                    <td>지급대상 월</td>
                    <td>지급일</td>
                    <td>기본급</td>
                    <td>직책수당</td>
                    <td>식대</td>
                    <td>교통비</td>
                    <td>추가수당</td>
                    <td>성과급</td>
                    <td>보너스</td>
                    <td>총 급여</td>
                    <td>총 공제금액</td>
                    <td>실 지급액</td>
                    <td>비고</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="payslip : ${payslips}"  th:paymentId="${payslip.paymentId}" th:onclick="openModal('/salary/payment/' + this.getAttribute('paymentId'))">
                    <td th:text="${payslip.compensationMonth.year} + '년 ' + ${'%02d'.formatted(payslip.compensationMonth.monthValue)} + '월'"></td>
                    <td th:text="${payslip.paymentDate}"></td>
                    <td th:text="${#numbers.formatInteger(payslip.baseSalary, 3, 'COMMA')}"></td>
                    <td th:text="${#numbers.formatInteger(payslip.positionAllowance, 3, 'COMMA')}"></td>
                    <td th:text="${#numbers.formatInteger(payslip.mealAllowance, 3, 'COMMA')}"></td>
                    <td th:text="${#numbers.formatInteger(payslip.transportAllowance, 3, 'COMMA')}"></td>
                    <td th:text="${payslip.overtimePay == null || payslip.overtimePay == 0 ? '0' :
                                                        #numbers.formatInteger(payslip.overtimePay, 3, 'COMMA')}"></td>
                    <td th:text="${(payslip.personalBonus ?: 0) + (payslip.teamBonus ?: 0) == 0 ? '0' :
                    #numbers.formatInteger((payslip.personalBonus ?: 0) + (payslip.teamBonus ?: 0), 3, 'COMMA')}"></td>
                    <td th:text="${(payslip.holidayBonus ?: 0) + (payslip.yearEndBonus ?: 0) == 0 ? '0' :
                    #numbers.formatInteger((payslip.holidayBonus ?: 0) + (payslip.yearEndBonus ?: 0), 3, 'COMMA')}"></td>
                    <td th:text="${#numbers.formatInteger(payslip.grossSalary, 3, 'COMMA')}"></td>
                    <td th:text="${#numbers.formatInteger(payslip.deductions, 3, 'COMMA')}"></td>
                    <td th:text="${#numbers.formatInteger(payslip.netSalary, 3, 'COMMA')}"></td>
                    <td th:text="${payslip.remarks}"></td>
                </tr>
                </tbody>
            </table>
            <div class="pagination" th:if="${totalPages > 0}">
            <span th:if="${currentPage > 1}">
                <a th:href="@{'/salary/payment/myPayslips?page=' + (${currentPage - 1}) + '&size=' + ${pageSize}}">
                    <img th:src="@{/images/icons/arrow-left.png}" alt="이전" class="icon">
                </a>
            </span>
                <div class="page-area">
                <span th:if="${totalPages <= 5}">
                    <span th:each="i : ${#numbers.sequence(1, totalPages)}">
                        <a th:href="@{'/salary/payment/myPayslips?page=' + ${i} + '&size=' + ${pageSize}}"
                           th:text="${i}" th:classappend="${i == currentPage} ? 'active' : ''">1</a>
                    </span>
                </span>
                    <span th:if="${totalPages > 5}">
                    <span th:each="i : ${#numbers.sequence(
                                    currentPage > 3 ? (currentPage < totalPages - 2 ? currentPage - 2 : totalPages - 4) : 1,
                                    currentPage > 3 ? (currentPage < totalPages - 2 ? currentPage + 2 : totalPages) : 5)}">
                        <a th:href="@{'/salary/payment/list?page=' + ${i} + '&size=' + ${pageSize}}"
                           th:text="${i}" th:classappend="${i == currentPage} ? 'active' : ''">1</a>
                    </span>
                </span>
                </div>
                <span th:if="${currentPage < totalPages}">
                <a th:href="@{'/salary/payment/myPayslips?page=' + (${currentPage + 1}) + '&size=' + ${pageSize}}">
                    <img th:src="@{/images/icons/arrow-right.png}" alt="다음" class="icon">
                </a>
            </span>
            </div>
        </div>
    </div>
</div>
</html>