.content-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.survey-container, .survey-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.question-row {
    width: 800px;
}

.question-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-container {
    padding: 5px;
    display: flex;
    flex-direction: column;
    height: min-content;
    position: relative;
    top: 0;
}

.btn-container .add-btn, .btn-container .send-btn {
    padding: 5px;
    display: flex;
    align-items: center;
}

.add-btn img, .send-btn img, .option-remove-btn img, .question-remove-btn img {
    padding: 5px;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.add-btn img:hover, .send-btn img:hover, .option-remove-btn img:hover, .question-remove-btn img:hover {
    background-color: #EDEDED;
}

.option-remove-btn img {
    width: 20px;
    height: 20px;
}

.option-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}