<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.woosan.hr_system.schedule.dao.BusinessTripDAO">
    <resultMap id="BusinessTripResultMap" type="com.woosan.hr_system.schedule.model.BusinessTrip">
        <id property="tripId" column="trip_id" />
        <result property="taskId" column="task_id" />
        <result property="address" column="address" />
        <result property="detailedAddress" column="detailed_address" />
        <result property="createdDate" column="created_date" />
        <result property="status" column="status" />
        <result property="clientName" column="client_name" />
        <result property="contactTel" column="contact_tel" />
        <result property="contactEmail" column="contact_email" />
        <result property="note" column="note" />
    </resultMap>

    <!-- 전체 출장 목록 조회 -->
    <select id="getAllBusinessTrips" resultMap="BusinessTripResultMap">
        SELECT
            trip_id, task_id, address, detailed_address, created_date, status,
            client_name, contact_tel, contact_email, note
        FROM business_trips
        WHERE task_id = #{taskId}
    </select>

    <!-- 출장 ID로 단일 출장 조회 -->
    <select id="getBusinessTripById" parameterType="int" resultMap="BusinessTripResultMap">
        SELECT
            trip_id, task_id, address, detailed_address, created_date, status,
            client_name, contact_tel, contact_email, note
        FROM business_trips
        WHERE trip_id = #{tripId}
    </select>

    <!-- 새로운 출장 정보 삽입 -->
    <insert id="insertBusinessTrip" parameterType="com.woosan.hr_system.schedule.model.BusinessTrip">
        INSERT INTO business_trips
        (task_id, address, detailed_address, created_date, status, client_name, contact_tel, contact_email, note)
        VALUES
            (#{taskId}, #{address}, #{detailedAddress}, #{createdDate}, '미방문', #{clientName}, #{contactTel}, #{contactEmail}, #{note})
    </insert>

    <!-- 출장 정보 업데이트 -->
    <update id="updateBusinessTrip" parameterType="com.woosan.hr_system.schedule.model.BusinessTrip">
        UPDATE business_trips
        SET
            task_id = #{taskId},
            address = #{address},
            detailed_address = #{detailedAddress},
            status = #{status},
            client_name = #{clientName},
            contact_tel = #{contactTel},
            contact_email = #{contactEmail},
            note = #{note}
        WHERE trip_id = #{tripId}
    </update>

    <!-- 출장 정보 삭제 -->
    <delete id="deleteBusinessTrip" parameterType="int">
        DELETE FROM business_trips WHERE trip_id = #{tripId}
    </delete>

</mapper>
