<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woosan.hr_system.employee.dao.EmployeeDAO">
    <resultMap id="EmployeeResultMap" type="com.woosan.hr_system.employee.model.Employee">
        <id property="employeeId" column="employee_id"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="birth" column="birth"/>
        <result property="residentRegistrationNumber" column="resident_registration_number"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="address" column="address"/>
        <result property="detailedAddress" column="detailed_address"/>
        <result property="hireDate" column="hire_date"/>
        <result property="status" column="status"/>
        <result property="department" column="department_id" javaType="com.woosan.hr_system.employee.model.Department" typeHandler="com.woosan.hr_system.employee.model.DepartmentTypeHandler"/>
        <result property="position" column="position_id" javaType="com.woosan.hr_system.employee.model.Position" typeHandler="com.woosan.hr_system.employee.model.PositionTypeHandler"/>
        <result property="remainingLeave" column="remaining_leave"/>
        <result property="lastModified" column="last_modified"/>
        <result property="modifiedBy" column="modified_by"/>
        <association property="resignation" javaType="com.woosan.hr_system.employee.model.Resignation">
            <id property="employeeId" column="employee_id"/>
            <result property="resignationReason" column="resignation_reason"/>
            <result property="codeNumber" column="code_number"/>
            <result property="specificReason" column="specific_reason"/>
            <result property="resignationDate" column="resignation_date"/>
            <result property="resignationDocuments" column="resignation_documents"/>
            <result property="processedBy" column="processed_by"/>
            <result property="processedDate" column="processed_date"/>
        </association>
    </resultMap>

    <select id="getEmployeeById" resultMap="EmployeeResultMap">
        SELECT * FROM employees WHERE employee_id = #{employeeId}
    </select>

    <select id="getAllEmployees" resultMap="EmployeeResultMap">
        SELECT * FROM employees
    </select>

    <insert id="insertEmployee">
        INSERT INTO employees (employee_id, password, name, birth, resident_registration_number, phone, email, address, detailed_address, hire_date, status, department_id, position_id, remaining_leave, last_modified, modified_by)
        VALUES (#{employeeId}, #{password}, #{name}, #{birth}, #{residentRegistrationNumber}, #{phone}, #{email}, #{address}, #{detailedAddress}, #{hireDate}, #{status}, #{department}, #{position}, #{remainingLeave}, #{lastModified}, #{modifiedBy})
    </insert>

    <update id="updateEmployee">
        UPDATE employees
        SET name=#{name},
        password=#{password},
        birth=#{birth},
        resident_registration_number=#{residentRegistrationNumber},
        phone=#{phone},
        email=#{email},
        address=#{address},
        detailed_address=#{detailedAddress},
        hire_date=#{hireDate},
        status=#{status},
        department_id=#{department},
        position_id=#{position},
        remaining_leave=#{remainingLeave},
        last_modified=#{lastModified},
        modified_by=#{modifiedBy}
        WHERE employee_id=#{employeeId}
    </update>

    <delete id="deleteEmployee">
        DELETE FROM employees WHERE employee_id=#{employeeId}
    </delete>

    <select id="countEmployeesByCurrentYear" resultType="int">
        SELECT COUNT(*)
        FROM employees
        WHERE YEAR(hire_date) = YEAR(CURDATE())
    </select>

    <!-- 퇴사 예정인 사원 정보 조회 -->
    <select id="getPreResignationEmployees" resultMap="EmployeeResultMap">
        SELECT *
        FROM employees
        WHERE status IN ('퇴사 예정');
    </select>

    <!-- 퇴사 후 2개월 이내의 사원 정보 조회 -->
    <select id="getResignedEmployees" resultMap="EmployeeResultMap">
        SELECT e.*, r.resignation_date
        FROM employees e
                 LEFT JOIN resignation r ON e.employee_id = r.employee_id
        WHERE e.status = '퇴사'
          AND r.resignation_date >= DATE_SUB(NOW(), INTERVAL 2 MONTH);
    </select>

    <!-- 퇴사 후 12개월이 지난 사원 정보 조회 -->
    <select id="getPreDeletionEmployees" resultMap="EmployeeResultMap">
        SELECT e.*, r.resignation_date
        FROM employees e
                 LEFT JOIN resignation r ON e.employee_id = r.employee_id
        WHERE e.status = '퇴사'
            AND r.resignation_date &lt;= DATE_SUB(NOW(), INTERVAL 12 MONTH);
    </select>

</mapper>
