<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.woosan.hr_system.upload.dao.FileDAO">

    <!-- 파일 정보 삽입 -->
    <insert id="insertFile" parameterType="com.woosan.hr_system.upload.model.File" useGeneratedKeys="true" keyProperty="fileId">
        INSERT INTO files (original_file_name, stored_file_name, file_size, upload_date, uploaded_by, file_id_usage)
        VALUES (#{originalFileName}, #{storedFileName}, #{fileSize}, #{uploadDate}, #{uploadedBy}, #{fileIdUsage})
    </insert>

    <!-- 파일 ID로 파일 정보 조회 -->
    <select id="selectFileById" parameterType="int" resultType="com.woosan.hr_system.upload.model.File">
        SELECT * FROM files WHERE file_id = #{fileId}
    </select>

    <!-- 파일 ID 리스트로 파일들 정보 조회 -->
    <select id="selectFileListById" parameterType="list" resultType="com.woosan.hr_system.upload.model.File">
        SELECT
        file_id AS fileId,
        original_file_name AS originalFileName,
        stored_file_name AS storedFileName,
        file_size AS fileSize,
        upload_date AS uploadDate,
        uploaded_by AS uploadedBy,
        file_id_usage AS fileIdUsage
        FROM files WHERE file_id IN
        <foreach item="fileId" collection="fileIdList" open="(" separator="," close=")">
            #{fileId}
        </foreach>
    </select>

    <!-- 파일 ID로 저장된 파일 이름 조회 -->
    <select id="selectFileStoredNameById" parameterType="int" resultType="String">
        SELECT stored_file_name
        FROM files
        WHERE file_id = #{fileId}
    </select>

    <!-- 모든 파일 정보 조회 -->
    <select id="selectAllFiles" resultType="com.woosan.hr_system.upload.model.File">
        SELECT * FROM files
    </select>

    <!-- 파일 정보 업데이트 -->
    <update id="updateFile" parameterType="com.woosan.hr_system.upload.model.File">
        UPDATE files
        SET stored_file_name = #{storedFileName},
            file_id_usage = #{fileIDUsage}
        WHERE file_id = #{fileId}
    </update>

    <!-- 파일 정보 삭제 -->
    <delete id="deleteFile" parameterType="int">
        DELETE FROM files WHERE file_id = #{fileId}
    </delete>

    <!-- 파일 중복 검사 -->
    <select id="isDuplicateExist" parameterType="com.woosan.hr_system.upload.model.File" resultType="int">
        SELECT COUNT(*) FROM files
        WHERE original_file_name = #{originalFileName} AND file_size = #{fileSize}
    </select>

</mapper>
