<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="password">
    <resultMap id="passwordResultMap" type="com.woosan.hr_system.auth.model.Password">
        <id property="employeeId" column="employee_id"/>
        <result property="password" column="password"/>
        <result property="passwordCount" column="password_count"/>
        <result property="lastModified" column="last_modified"/>
        <result property="modifiedBy" column="modified_by"/>
        <result property="strength" column="strength"/>
    </resultMap>

    <!-- 비밀번호 조회 -->
    <select id="selectPassword" parameterType="String" resultMap="passwordResultMap">
        SELECT *
        FROM passwords
        WHERE employee_id = #{employeeId}
    </select>

    <!-- 비밀번호 등록 -->
    <insert id="insertPassword" parameterType="com.woosan.hr_system.auth.model.Password">
        INSERT INTO passwords (employee_id, password)
        VALUES (#{employeeId}, #{password})
    </insert>

    <!-- 비밀번호 수정 -->
    <update id="updatePassword" parameterType="com.woosan.hr_system.auth.model.Password">
        UPDATE passwords
        SET password = #{password},
            password_count = #{passwordCount},
            last_modified = #{lastModified},
            modified_by = #{modifiedBy},
            strength = #{strength}
        WHERE employee_id = #{employeeId}
    </update>

    <!-- 비밀번호 삭제 -->
    <delete id="deletePassword" parameterType="String">
        DELETE FROM passwords
        WHERE employee_id = #{employeeId}
    </delete>

    <!-- 비밀번호 카운트 조회 -->
    <select id="getPasswordCount" parameterType="String" resultType="int">
        SELECT password_count
        FROM passwords
        WHERE employee_id=#{employeeId}
    </select>

    <!-- 비밀번호 카운트 1 증가 -->
    <update id="incrementPasswordCount" parameterType="String">
        UPDATE passwords
        SET password_count = password_count + 1
        WHERE employee_id=#{employeeId}
    </update>

    <!-- 비밀번호 카운트 초기화 -->
    <update id="resetPasswordCount" parameterType="String">
        UPDATE passwords
        SET password_count = 0
        WHERE employee_id=#{employeeId}
    </update>

    <!-- 비밀번호 카운트 5로 설정 -->
    <update id="maxOutPasswordCount" parameterType="String">
        UPDATE passwords
        SET password_count = 5
        WHERE employee_id=#{employeeId}
    </update>

</mapper>
