<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.woosan.hr_system.report.dao.ReportDAO">

    <!-- 모든 보고서 조회 -->
    <select id="getAllReports" resultType="com.woosan.hr_system.report.model.Report">
        SELECT
            report_id AS reportId,
            employee_id AS employeeId,
            title,
            content,
            created_date AS createdDate,
            modified_date AS modifiedDate,
            approver_id AS approverId,
            status,
            reject_reason AS rejectReason
        FROM reports
    </select>

    <!-- 특정 보고서 조회 -->
    <select id="getReportById" parameterType="long" resultType="com.woosan.hr_system.report.model.Report">
        SELECT
            report_id AS reportId,
            employee_id AS employeeId,
            title,
            content,
            complete_date AS completeDate,
            created_date AS createdDate,
            modified_date AS modifiedDate,
            approver_id AS approverId,
            status,
            reject_reason AS rejectReason
        FROM reports
        WHERE report_id = #{reportId}
    </select>

    <!-- 특정 파일 조회 -->
    <select id="getReportFileById" parameterType="long" resultType="com.woosan.hr_system.report.model.FileMetadata">
        SELECT
            file_id AS fileId,
            report_id AS reportId,
            cloud_server_file_url AS cloudServerFileUrl,
            original_file_name AS originalFilename,
            uuid_file_name AS uuidFilename,
            size,
            upload_date AS uploadDate

        FROM report_files
        WHERE file_id = #{fileId}
    </select>

    <!-- 보고서 생성 -->
    <insert id="createReport" parameterType="com.woosan.hr_system.report.model.Report">
        INSERT INTO reports (
            employee_id,
            title,
            content,
            created_date,
            complete_date,
            approver_id,
            status
        ) VALUES (
                     #{employeeId},
                     #{title},
                     #{content},
                     #{createdDate},
                     #{completeDate},
                     #{approverId},
                     #{status}
                 )
    </insert>

    <!-- 파일 DB 정보 생성 -->
    <insert id="insertFileMetadata" parameterType="com.woosan.hr_system.report.model.FileMetadata">
        INSERT INTO report_files (
            cloud_server_file_url,
            original_file_name,
            uuid_file_name,
            size,
            upload_date
        ) VALUES (
                     #{cloudServerFileUrl},
                     #{originalFilename},
                     #{uuidFilename},
                     #{size},
                     #{uploadDate}
                 )
    </insert>

    <!-- 보고서 수정 -->
    <update id="updateReport" parameterType="com.woosan.hr_system.report.model.Report">
        UPDATE reports
        SET title = #{title}, content = #{content}, complete_date = #{completeDate}, modified_date = #{modifiedDate}
        WHERE report_id = #{reportId}
    </update>

    <!-- 결재처리 -->
    <update id="updateApprovalStatus" parameterType="com.woosan.hr_system.report.model.Report">
        UPDATE reports
        SET status = #{status}, reject_reason = #{rejectReason}
        WHERE report_id = #{reportId}
    </update>

    <!-- 보고서 삭제 -->
    <delete id="deleteReport" parameterType="long">
        DELETE FROM reports WHERE report_id = #{reportId}
    </delete>

    <!-- 파일 삭제 -->
    <delete id="deleteFileMetadataByReportId" parameterType="long">
        DELETE FROM report_files WHERE report_id = #{reportId}
    </delete>
</mapper>
