<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.woosan.hr_system.report.dao.RequestDAO">

    <!-- 모든 요청 조회 -->
    <select id="getAllRequests" resultType="com.woosan.hr_system.report.model.Request">
        SELECT
            request_id AS requestId,
            requester_id AS requesterId,
            report_id AS reportId,
            employee_id AS employeeId,
            DATE_FORMAT(due_date, '%y-%m-%d') AS formattedDueDate,
            DATE_FORMAT(request_date, '%y-%m-%d') AS formattedRequestDate
        FROM report_requests
        <where>
            <if test="requesterId != null">
                requester_id = #{requesterId}
            </if>
        </where>
    </select>

    <!-- 특정 요청 조회 -->
    <select id="getRequestById" parameterType="long" resultType="com.woosan.hr_system.report.model.Request">
        SELECT
            request_id AS requestId,
            employee_id AS employeeId,
            due_date AS dueDate,
            request_note AS requestNote
        FROM report_requests
        WHERE request_id = #{requestId}
    </select>

    <!-- 모든 사원 조회 -->
    <select id="getAllEmployees" resultType="com.woosan.hr_system.employee.model.Employee">
        SELECT
            employee_id AS employeeId,
            name
        FROM employees
    </select>

    <!-- 요청 생성 -->
    <insert id="createRequest" parameterType="com.woosan.hr_system.report.model.Request">
        INSERT INTO report_requests
        (requester_id,
         employee_id,
         due_date,
         request_note,
         request_date)
        SELECT
            #{requesterId},
            e.employee_id,
            #{dueDate},
            #{requestNote},
            #{requestDate}
        FROM employees e
        WHERE e.name = #{employeeName}
    </insert>

    <!-- 요청 수정 -->
    <update id="updateRequest" parameterType="com.woosan.hr_system.report.model.Request">
        UPDATE report_requests
        SET employee_id = #{employeeId}, due_date = #{dueDate}, request_note = #{requestNote} ,modified_date = #{modifiedDate}
        WHERE request_id = #{requestId}
    </update>

    <!-- 요청 삭제 -->
    <delete id="deleteRequest" parameterType="long">
        DELETE FROM report_requests WHERE request_id = #{requestId}
    </delete>
</mapper>
