<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woosan.hr_system.salary.mapper.SalaryMapper">
    <resultMap id="SalaryResultMap" type="com.woosan.hr_system.salary.model.Salary">
        <id property="salaryId" column="salary_id" />
        <result property="employeeId" column="employee_id" />
        <result property="annualSalary" column="annual_salary" />
        <result property="bank" column="bank" />
        <result property="accountNumber" column="account_number" />
    </resultMap>

    <!-- 급여 ID를 이용한 특정 사원의 급여 정보 조회 -->
    <select id="selectSalaryById" parameterType="int" resultMap="SalaryResultMap">
        SELECT * FROM salaries WHERE salary_id = #{salaryId}
    </select>

    <!-- 사원 ID를 이용한 특정 사원의 급여 정보 조회 -->
    <select id="selectSalaryByEmployeeId" parameterType="String" resultMap="SalaryResultMap">
        SELECT * FROM salaries WHERE employee_id = #{employeeId}
    </select>

    <!-- 모든 사원의 급여 정보 조회 -->
    <select id="selectAllSalaries" resultMap="SalaryResultMap">
        SELECT * FROM salaries
    </select>

    <!-- 사원 급여 정보 등록 -->
    <insert id="insertSalary" parameterType="com.woosan.hr_system.salary.model.Salary" useGeneratedKeys="true" keyProperty="salaryId">
        INSERT INTO salaries (employee_id, annual_salary, bank, account_number)
        VALUES (#{employeeId}, #{annualSalary}, #{bank}, #{accountNumber})
    </insert>

    <!-- 사원 급여 정보 수정 -->
    <update id="updateSalary" parameterType="com.woosan.hr_system.salary.model.Salary">
        UPDATE salaries SET
                            employee_id = #{employeeId},
                            annual_salary = #{annualSalary},
                            bank = #{bank},
                            account_number = #{accountNumber}
        WHERE salary_id = #{salaryId}
    </update>

    <!-- 사원 급여 정보 삭제 -->
    <delete id="deleteSalary" parameterType="int">
        DELETE FROM salaries WHERE salary_id = #{salaryId}
    </delete>

</mapper>
