<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.woosan.hr_system.salary.mapper.SalaryPaymentMapper">

    <insert id="insertSalaryPayment" parameterType="com.woosan.hr_system.salary.model.SalaryPayment">
        INSERT INTO salary_payments (salary_id, payment_date, gross_salary, base_salary, overtime, bonus, deductions, net_salary, remarks)
        VALUES (#{salaryId}, #{paymentDate}, #{baseSalary}, #{grossSalary},#{overtime}, #{bonus}, #{deductions}, #{netSalary}, #{remarks})
    </insert>

    <select id="selectSalaryPaymentById" parameterType="int" resultType="com.woosan.hr_system.salary.model.SalaryPayment">
        SELECT * FROM salary_payments WHERE payment_id = #{paymentId}
    </select>

    <select id="selectAllSalaryPayments" resultType="com.woosan.hr_system.salary.model.SalaryPayment">
        SELECT * FROM salary_payments
    </select>

    <update id="updateSalaryPayment" parameterType="com.woosan.hr_system.salary.model.SalaryPayment">
        UPDATE salary_payments SET
                                   salary_id = #{salaryId},
                                   payment_date = #{paymentDate},
                                   goross_salary = #{grossSalary},
                                   base_salary = #{baseSalary},
                                   overtime = #{overtime},
                                   bonus = #{bonus},
                                   deductions = #{deductions},
                                   net_salary = #{netSalary},
                                   remarks = #{remarks}
        WHERE payment_id = #{paymentId}
    </update>

    <delete id="deleteSalaryPayment" parameterType="int">
        DELETE FROM salary_payments WHERE payment_id = #{paymentId}
    </delete>

</mapper>
