<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.woosan.hr_system.employee.dao.TerminationDAO">

    <resultMap id="TerminationResultMap" type="com.woosan.hr_system.employee.model.Termination">
        <id property="employeeId" column="employee_id"/>
        <result property="terminationReason" column="termination_reason"/>
        <result property="terminationDate" column="termination_date"/>
        <result property="terminationDocuments" column="termination_documents"/>
        <result property="processedBy" column="processed_by"/>
        <result property="terminationProcessedDate" column="termination_processed_date"/>
    </resultMap>

    <!-- id를 이용한 퇴사 사원 정보 조회 -->
    <select id="getTerminatedEmployee" resultMap="TerminationResultMap" parameterType="String">
        SELECT * FROM termination
        WHERE employee_id = #{employeeId}
    </select>

    <!-- 모든 퇴사 사원 정보 조회 -->
    <select id="getAllTerminatedEmployees" resultMap="TerminationResultMap">
        SELECT * FROM termination
    </select>

    <!-- 새로운 퇴사 사원 정보 삽입 -->
    <insert id="insertTermination" parameterType="com.woosan.hr_system.employee.model.Termination">
        INSERT INTO termination (employee_id, termination_reason, termination_date, termination_documents, processed_by, termination_processed_date)
        VALUES (#{employeeId}, #{terminationReason}, #{terminationDate}, #{terminationDocuments}, #{processedBy}, #{terminationProcessedDate})
    </insert>

    <!-- 퇴사 사원 정보 업데이트 -->
    <update id="updateTermination" parameterType="com.woosan.hr_system.employee.model.Termination">
        UPDATE termination
        SET termination_reason = #{terminationReason},
            termination_date = #{terminationDate},
            termination_documents = #{terminationDocuments},
            processed_by = #{processedBy},
            termination_processed_date = #{terminationProcessedDate}
        WHERE employee_id = #{employeeId}
    </update>

    <!-- 퇴사 사원 정보 삭제 -->
    <delete id="deleteTermination" parameterType="String">
        DELETE FROM termination
        WHERE employee_id = #{employeeId}
    </delete>

</mapper>
