.input-modal {
    width: 300px;
}

.input-modal .btn-container, .input-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-content h3 {
    margin-bottom: 20px;
}

.modal-content input[type="text"],
.modal-content input[type="password"],
.modal-content input[type="date"] {
    width: auto;
}