<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{fragments/layout-with-modal :: layout(title='새 설문조사 작성')}">

<th:block layout:fragment="css">
    <link th:href="@{/css/survey/form.css}" rel="stylesheet">
</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/js/survey/form.js}"></script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            alignButtonsWithLastQuestion();

            // 질문 추가 이벤트 등록
            document.querySelector('.add-btn').addEventListener('click', function () {
                addNewQuestion();
            });

            // 설문 등록 이벤트 등록
            document.querySelector('.send-btn').addEventListener('click', function (e) {
                e.preventDefault();
                if (confirm('설문을 등록하시겠습니까?')) submitSurvey();
            });

            // 설문 목록으로 이동 이벤트 등록
            document.querySelector('.exit-btn').addEventListener('click', function () {
                if (confirm('설문 목록으로 이동하시겠습니까?')) window.location.href='/survey/list';
            });

            const questionTypeSelects = document.querySelectorAll('select[name^="questionType"]');

            // 각 질문 유형에 대해 옵션 필드 표시 여부 결정
            questionTypeSelects.forEach(select => {
                select.addEventListener('change', function () {
                    toggleOptionsVisibility(this);
                });
            });
            // 초기 상태에서 옵션 필드 표시 여부 설정
            questionTypeSelects.forEach(select => toggleOptionsVisibility(select));

            // 옵션 추가 버튼 클릭 시 새로운 옵션 필드를 추가
            document.querySelectorAll('.option-add-btn').forEach(btn => {
                btn.addEventListener('click', function () {
                    addNewOptionField(this);
                });
            });
        });
    </script>
</th:block>

<div layout:fragment="~{content}">
    <form>
        <div class="survey-container">
            <div class="content survey-header">
                <input type="text" id="title" name="title" placeholder="설문조사 제목"/>
                <input type="text" id="description" name="description" placeholder="설문조사 설명"/>
                <label for="expiresAt">설문조사 종료일 : </label>
                <input type="date" id="expiresAt" name="expiresAt"/>
            </div>
            <div class="question-row">
                <div class="content question">
                    <div class="question-header">
                        <input type="text" id="questionText0" name="questionText0" placeholder="질문"/>
                        <select id="questionType0" name="questionType0">
                            <option value="text">단답형</option>
                            <option value="textarea">장문형</option>
                            <option value="radio">단일 선택</option>
                            <option value="checkbox">다중 선택</option>
                            <option value="date">날짜</option>
                            <option value="time">시간</option>
                        </select>
                        <div></div>
                    </div>
                    <div class="options-container" style="display:none;">
                        <div class="option-wrapper">
                            <input type="text" name="option0" value="옵션 1"/>
                        </div>
                        <div class="option-add-btn">옵션 추가</div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="content btn-container">
        <div class="add-btn">
            <img class="survey-form-btn" src="/images/icons/plus.png" alt="새 질문" title="새 질문 추가"/>
        </div>
        <div class="send-btn">
            <img class="survey-form-btn" src="/images/icons/send.png" alt="설문 등록" title="설문 등록"/>
        </div>
        <div class="exit-btn">
            <img class="survey-form-btn" src="/images/icons/exit.png" alt="설문 목록" title="설문 목록으로"/>
        </div>
    </div>
</div>

</html>
