<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{fragments/layout :: layout(title='설문조사')}" >

<th:block layout:fragment="css">
    <link th:href="@{/css/survey/detail.css}" rel="stylesheet" />
</th:block>

<th:block layout:fragment="script">
</th:block>

<div layout:fragment="~{content}">
    <div class="content">
        <form onsubmit="submitSurveyResponses(event)">
            <div class="survey-container">
                <div class="content-header">
                    <div class="content-header-left"></div>
                    <div class="content-header-center">
                        <a class="" th:href="@{'/survey/' + ${survey.id}}">설문</a>
                        <a class="active" th:href="@{#}">응답</a>
                        <a class="" th:href="@{'/survey/statistics?surveyId=' + ${survey.id}}"
                           th:if="${#authentication.principal.getUsername} == ${createdBy}">통계</a>
                        <a class="" th:href="@{'/survey/participants?surveyId=' + ${survey.id}}"
                           th:if="${#authentication.principal.getUsername} == ${createdBy}">응답 목록</a>
                        <a class="" th:href="@{'/survey/list'}">설문 목록</a>
                    </div>
                    <div class="content-header-right"></div>
                </div>

                <div th:if="${info} == null">
                    <p>현재 제출된 응답이 없습니다.</p>
                    <p>설문에 참여하여 답변을 제출해주세요!</p>
                </div>

                <div th:if="${info} != null">
                    <table border="1">
                        <thead>
                        <th>ID</th>
                        <th>이름</th>
                        <th>부서</th>
                        <th>직급</th>
                        <th>설문참여일시</th>
                        </thead>
                        <tbody>
                        <td th:text="${info?.employee.employeeId}"></td>
                        <td th:text="${info?.employee.name}"></td>
                        <td th:text="${info?.employee.department}"></td>
                        <td th:text="${info?.employee.position}"></td>
                        <td th:text="${#temporals.format(info.participationAt, 'yyyy-MM-dd HH:mm')}"></td>
                        </tbody>
                    </table>
                    <h2 th:text="${survey.title}">설문 제목</h2>
                    <p th:text="${survey.description}">설문 설명</p>

                    <div th:each="question, stat : ${survey.questions}">
                        <div class="question">
                            <p><span th:text="${(stat.index + 1) + '번'}"></span>. <span th:text="${question.questionText}">질문 텍스트</span></p>

                            <div class="options" th:switch="${question.questionType}">
                                <div th:case="'text'"> <!-- 단답형 -->
                                    <p th:text="${question.response.answer}">응답 없음</p>
                                </div>

                                <div th:case="'textarea'"> <!-- 장문형 -->
                                    <p th:text="${question.response.answer}">응답 없음</p>
                                </div>

                                <div th:case="'radio'"> <!-- 단일 선택 -->
                                    <label th:each="option : ${question.options}">
                                        <input type="radio" th:attr="name=${'question_' + question.id}" th:value="${option}"
                                               th:checked="${question.response.answer == option}" disabled/>
                                        <span th:text="${option}"></span>
                                    </label>
                                </div>

                                <div th:case="'checkbox'"> <!-- 다중 선택 -->
                                    <label th:each="option : ${question.options}">
                                        <input type="checkbox" th:attr="name=${'question_' + question.id}" th:value="${option}"
                                               th:checked="${#lists.contains(question.response.answer, option)}" disabled/>
                                        <span th:text="${option}"></span>
                                    </label>
                                </div>

                                <div th:case="'date'"> <!-- 날짜 -->
                                    <input type="date" th:value="${question.response.answer}" disabled/>
                                </div>

                                <div th:case="'time'"> <!-- 시간 -->
                                    <input type="time" th:value="${question.response.answer}" disabled/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </form>
    </div>
</div>
</html>
