<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{fragments/layout :: layout(title='퇴사 사원 관리')}">

<th:block layout:fragment="css"></th:block>

<th:block layout:fragment="script">
    <script th:src="@{/js/common/file.js}"></script>
    <script th:src="@{/js/employee/resignation.js}"></script>
    <script th:src="@{/js/employee/employee-detail-edit.js}"></script>
    <script>
        function openResignationProcessModal(event, button) {
            event.stopPropagation();
            const employeeId = button.getAttribute('employeeId');
            openModal('/resignation/' + employeeId);
        }
    </script>
</th:block>

<div layout:fragment="~{content}">
    <div class="content">
        <div><h2>퇴사 예정 사원 목록</h2></div>
        <table class="list">
            <thead>
            <tr>
                <th>사원 ID</th>
                <th>이름</th>
                <th>부서</th>
                <th>직급</th>
                <th>입사일</th>
                <th>상태</th>
                <th>퇴사 처리</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${preResignationEmployees.isEmpty()}">
                <td colspan="7">퇴사 예정 사원이 없습니다.</td>
            </tr>
            <tr th:each="employee : ${preResignationEmployees}" th:employeeId="${employee.employeeId}" th:onclick="openModal('/employee/' + this.getAttribute('employeeId'))" style="cursor: pointer;">
                <td th:text="${employee.employeeId}">사원 ID</td>
                <td th:text="${employee.name}">이름</td>
                <td th:text="${employee.department}">부서</td>
                <td th:text="${employee.position}">직급</td>
                <td th:text="${employee.hireDate}">입사일</td>
                <td th:text="${employee.status}">상태</td>
                <td>
                    <button type="button" th:employeeId="${employee.employeeId}" onclick="openResignationProcessModal(event, this)">퇴사 처리</button>
                </td>
            </tr>
            </tbody>
        </table>

        <div><h2>퇴사 처리된 사원 목록</h2> <p>(최근 2개월이내 퇴사 사원 목록입니다.)</p></div>
        <table class="list">
            <thead>
            <tr>
                <th>사원 ID</th>
                <th>이름</th>
                <th>부서</th>
                <th>직급</th>
                <th>입사일</th>
                <th>상태</th>
                <th>퇴사 날짜</th>
                <th>퇴사 사유</th>
                <th>퇴사 코드</th>
                <th>구체적 사유</th>
                <th>상세 정보</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${resignedEmployees.isEmpty()}">
                <td colspan="7">최근 2개월이내 퇴사한 사원이 없습니다.</td>
            </tr>
            <tr th:each="employee : ${resignedEmployees}">
                <td th:text="${employee.employeeId}">사원 ID</td>
                <td th:text="${employee.name}">이름</td>
                <td th:text="${employee.department}">부서</td>
                <td th:text="${employee.position}">직급</td>
                <td th:text="${employee.hireDate}">입사일</td>
                <td th:text="${employee.status}">상태</td>
                <td th:text="${employee.resignation?.resignationDate}">퇴사 날짜</td>
                <td th:text="${employee.resignation?.resignationReason}">퇴사 사유</td>
                <td th:text="${employee.resignation?.codeNumber}">퇴사 코드</td>
                <td th:text="${employee.resignation?.specificReason}">구체적 사유</td>
                <td>
                    <button type="button" th:employeeId="${employee.employeeId}" th:onclick="openModal('/employee/' + this.getAttribute('employeeId'))">상세정보 조회</button>
                </td>
            </tr>
            </tbody>
        </table>

        <div><h2>삭제 예정 사원 목록</h2> <p>(퇴사 후 1년이 경과한 사원 목록입니다.)</p></div>
        <table class="list">
            <thead>
            <tr>
                <th>사원 ID</th>
                <th>이름</th>
                <th>부서</th>
                <th>직급</th>
                <th>입사일</th>
                <th>상태</th>
                <th>퇴사 날짜</th>
                <th>퇴사 사유</th>
                <th>퇴사 코드</th>
                <th>구체적 사유</th>
                <th>사원 삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${preDeletionEmployees.isEmpty()}">
                <td colspan="7">삭제 예정 사원이 없습니다.</td>
            </tr>
            <tr th:each="employee : ${preDeletionEmployees}" th:employeeId="${employee.employeeId}" th:onclick="openModal('/employee/' + this.getAttribute('employeeId'))" style="cursor: pointer;">
                <td th:text="${employee.employeeId}">사원 ID</td>
                <td th:text="${employee.name}">이름</td>
                <td th:text="${employee.department}">부서</td>
                <td th:text="${employee.position}">직급</td>
                <td th:text="${employee.hireDate}">입사일</td>
                <td th:text="${employee.status}">상태</td>
                <td th:text="${employee.resignation?.resignationDate}">퇴사 날짜</td>
                <td th:text="${employee.resignation?.resignationReason}">퇴사 사유</td>
                <td th:text="${employee.resignation?.codeNumber}">퇴사 코드</td>
                <td th:text="${employee.resignation?.specificReason}">구체적 사유</td>
                <td>
                    <button type="button" class="delete-btn" th:employeeId="${employee.employeeId}" th:employeeName="${employee.name}" onclick="submitDelete(event)">영구 삭제</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</html>
