<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{fragments/layout :: layout(title='휴가 신청')}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/vacation/detail.css}"/>
</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/js/vacation/ajax.js}"></script>
    <script th:src="@{/js/vacation/request.js}"></script>
</th:block>

<div layout:fragment="~{content}">
    <div class="content">
        <div class="vacation-request-container">
            <form action="/api/vacation" onsubmit="submitInsertForm(event, 'HR')">
                <div class="vacation-header">
                    <div id="error-message" class="error-message"></div>
                    <div class="btn-container">
                        <button type="reset" class="btn">초기화</button>
                        <button type="submit" class="btn">휴가 신청</button>
                    </div>
                </div>
                <div class="title">휴가 신청서</div>
                <table class="employee-details">
                    <tr>
                        <td class="section-title">휴가 신청 사원</td>
                        <td class="section-title">부서</td>
                        <td class="section-title">직급</td>
                        <td class="section-title">연락처</td>
                        <td class="section-title">잔여 연차</td>
                    </tr>
                    <tr>
                        <td th:text="${employee.name + '(' + employee.employeeId + ')'}"></td>
                        <td th:text="${employee.department}"></td>
                        <td th:text="${employee.position}"></td>
                        <td th:text="${employee.phone}"></td>
                        <td id="remainingLeave" th:text="${employee.remainingLeave}"></td>
                        <input type="hidden" id="employeeId" name="employeeId" th:value="${employee.employeeId}"/>
                    </tr>
                </table>
                <table class="details">
                    <tr>
                        <td class="section-title">휴가 유형</td>
                        <td>
                            <select id="vacationType" name="vacationType" onchange="updateFormVisibility()">
                                <option value="" disabled selected>선택해주세요.</option>
                                <option value="오전 반차">오전 반차</option>
                                <option value="오후 반차">오후 반차</option>
                                <option value="연차">연차</option>
                                <option value="병가">병가</option>
                                <option value="출산 휴가">출산 휴가</option>
                                <option value="배우자 출산 휴가">배우자 출산 휴가</option>
                                <option value="생리 휴가">생리 휴가</option>
                                <option value="가족 돌봄 휴가">가족 돌봄 휴가</option>
                                <option value="경조사 휴가">경조사 휴가</option>
                                <option value="기타 휴가">기타 휴가</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td class="section-title">사용 일수</td>
                        <td>
                            <input type="text" id="usedDays" name="usedDays" readonly/>
                        </td>
                    </tr>
                    <tr>
                        <td class="section-title">휴가 시작일</td>
                        <td colspan="2">
                            <div class="date-td">
                                <input type="date" id="dateAt" onchange="setDateAt()" style="display: none;"/>
                                <input type="date" id="startAt" name="startAt" oninput="calculateUsedDays()"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="section-title" colspan="1">휴가 종료일</td>
                        <td colspan="2">
                            <div class="date-td">
                                <input type="date" id="endAt" name="endAt" oninput="calculateUsedDays()"/>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td class="section-title" style="height: 80px">휴가 사유</td>
                        <td>
                            <textarea id="reason" name="reason" placeholder="휴가 사유를 입력해주세요."></textarea>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>