input[type="radio"] {
    margin: 0 5px 0 10px;
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #EEE;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

input[type="radio"]:checked {
    background-color: #18A8F1;
    border-color: #18A8F1;
}

input[type="radio"]:checked::after {
    content: '';
    position: absolute;
    left: 4px;
    top: 4px;
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
}

input[type="radio"]:focus {
    outline: none;
    border-color: #18A8F1;
    box-shadow: 0 0 5px rgba(24, 168, 241, 0.5);
}