<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{fragments/layout :: layout(title='근태 목록 조회')}">

<th:block layout:fragment="css">
    <link th:href="@{/css/common/department-nav.css}" rel="stylesheet">
    <link th:href="@{/css/common/yearmonth-nav.css}" rel="stylesheet">
    <link th:href="@{/css/common/pagination.css}" rel="stylesheet">
    <link th:href="@{/css/attendance/status.css}" rel="stylesheet">
</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/js/common/yearmonth-nav.js}"></script>
    <script th:src="@{/js/attendance/overtime.js}"></script>
</th:block>

<div layout:fragment="~{content}">
    <div class="content">
        <div class="content-header">
            <div class="content-header-left">
                <form id="pageSizeForm" th:action="@{/attendance/list}" method="get">
                    <input type="hidden" name="page" th:value="1"/>
                    <select name="size" onchange="document.getElementById('pageSizeForm').submit()">
                        <option th:value="10" th:text="'10개씩 보기'" th:selected="${pageSize == 10}">10개씩 보기</option>
                        <option th:value="25" th:text="'25개씩 보기'" th:selected="${pageSize == 25}">25개씩 보기</option>
                        <option th:value="50" th:text="'50개씩 보기'" th:selected="${pageSize == 50}">50개씩 보기</option>
                    </select>
                    <input type="hidden" name="keyword" th:value="${keyword}"/>
                    <input type="hidden" name="department" th:value="${department}">
                    <input type="hidden" name="status" th:value="${status}">
                    <input type="hidden" name="yearmonth" th:value="${yearmonth}">
                </form>
            </div>
            <div class="content-header-center">
                <form id="yearMonthForm" th:action="@{/attendance/list}" method="get">
                    <div class="month-nav">
                        <div class="nav-btn prev" onclick="changeMonth(-1)"></div>
                        <span class="current-month" th:text="${yearmonth}"></span>
                        <div id="nextBtn" class="nav-btn next" onclick="changeMonth(1)"></div>
                    </div>
                    <input type="hidden" name="page" value="1">
                    <input type="hidden" name="size" th:value="${pageSize}"/>
                    <input type="hidden" name="keyword" th:value="${keyword}"/>
                    <input type="hidden" name="department" th:value="${department}">
                    <input type="hidden" name="status" th:value="${status}">
                    <input type="hidden" id="yearmonth" name="yearmonth" th:value="${yearmonth}">
                </form>
            </div>
            <div class="search-option content-header-right">
                <form id="statusForm" th:action="@{/attendance/list}" method="get">
                    <input type="hidden" name="page" value="1">
                    <input type="hidden" name="size" th:value="${pageSize}"/>
                    <input type="hidden" name="keyword" th:value="${keyword}"/>
                    <input type="hidden" name="department" th:value="${department}">
                    <select name="status" onchange="document.getElementById('statusForm').submit()">
                        <option value="" th:selected="${status == ''}">근태 상태</option>
                        <option th:value="출근" th:text="출근" th:selected="${status == '출근'}">출근</option>
                        <option th:value="결근" th:text="결근" th:selected="${status == '결근'}">결근</option>
                        <option th:value="지각" th:text="지각" th:selected="${status == '지각'}">지각</option>
                        <option th:value="조퇴" th:text="조퇴" th:selected="${status == '조퇴'}">조퇴</option>
                        <option th:value="출장" th:text="출장" th:selected="${status == '출장'}">출장</option>
                        <option th:value="휴가" th:text="휴가" th:selected="${status == '휴가'}">휴가</option>
                    </select>
                    <input type="hidden" name="yearmonth" th:value="${yearmonth}">
                </form>
                <form th:action="@{/attendance/list}" method="get">
                    <input type="hidden" name="page" value="1">
                    <input type="hidden" name="size" th:value="${pageSize}"/>
                    <input type="text" name="keyword" placeholder="검색어 입력" th:value="${keyword}"/>
                    <input type="hidden" name="department" th:value="${department}">
                    <input type="hidden" name="status" th:value="${status}">
                    <input type="hidden" name="yearmonth" th:value="${yearmonth}">
                    <button type="submit">검색</button>
                </form>
                <img th:src="@{/images/icons/reset.png}" class="image-btn" onclick="window.location.href='/attendance/list'"/>
            </div>
        </div>
        <form th:action="@{/attendance/list}" method="get" id="department-nav">
            <input type="radio" id="all" class="hidden" name="department" value="" th:checked="${department == ''}" onclick="this.form.submit()">
            <label for="all" class="radio-btn">전체 부서</label>

            <input type="radio" id="HR" class="hidden" name="department" value="HR" th:checked="${department == 'HR'}" onclick="this.form.submit()">
            <label for="HR" class="radio-btn">HR(인사)</label>

            <input type="radio" id="FI" class="hidden" name="department" value="FI" th:checked="${department == 'FI'}" onclick="this.form.submit()">
            <label for="FI" class="radio-btn">FI(재무)</label>

            <input type="radio" id="SA" class="hidden" name="department" value="SA" th:checked="${department == 'SA'}" onclick="this.form.submit()">
            <label for="SA" class="radio-btn">SA(영업)</label>

            <input type="radio" id="MK" class="hidden" name="department" value="MK" th:checked="${department == 'MK'}" onclick="this.form.submit()">
            <label for="MK" class="radio-btn">MK(마케팅)</label>

            <input type="radio" id="PR" class="hidden" name="department" value="PR" th:checked="${department == 'PR'}" onclick="this.form.submit()">
            <label for="PR" class="radio-btn">PR(생산)</label>

            <input type="radio" id="QC" class="hidden" name="department" value="QC" th:checked="${department == 'QC'}" onclick="this.form.submit()">
            <label for="QC" class="radio-btn">QC(품질관리)</label>

            <input type="radio" id="RD" class="hidden" name="department" value="RD" th:checked="${department == 'RD'}" onclick="this.form.submit()">
            <label for="RD" class="radio-btn">RD(연구개발)</label>

            <input type="hidden" name="page" th:value="1"/>
            <input type="hidden" name="size" th:value="${pageSize}"/>
            <input type="hidden" name="keyword" th:value="${keyword}"/>
            <input type="hidden" name="status" th:value="${status}">
            <input type="hidden" name="yearmonth" th:value="${yearmonth}">
        </form>
        <table border="1" class="list">
            <thead>
            <tr>
                <th>근태 ID</th>
                <th>사원 ID</th>
                <th>이름</th>
                <th>부서</th>
                <th>직급</th>
                <th>근태 상태</th>
                <th>날짜</th>
                <th>출근 시간</th>
                <th>퇴근 시간</th>
                <th>초과 근무</th>
                <th>근무 시간</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${attendanceList.isEmpty()}">
                <td colspan="11" style="text-align: center; padding: 20px;">
                    조회된 근태 내역이 없습니다. 다른 검색 조건을 시도해보세요.
                </td>
            </tr>
            <tr th:each="attendance : ${attendanceList}" th:attendanceId="${attendance.attendanceId}" th:onclick="openModal('/attendance/' + this.getAttribute('attendanceId'))">
                <td th:text="${attendance.attendanceId}">근태 ID</td>
                <td th:text="${attendance.employeeId}">사원 ID</td>
                <td th:text="${attendance.employee?.name}">이름</td>
                <td th:text="${attendance.employee?.department.name}">부서</td>
                <td th:text="${attendance.employee?.position.name}">직급</td>
                <td th:text="${attendance.status}"
                    th:classappend="${attendance.status == '출근'} ? 'present' :
                                    (${attendance.status == '결근'} ? 'absent' :
                                    (${attendance.status == '지각'} ? 'late' :
                                    (${attendance.status == '조퇴'} ? 'early-leave' :
                                    (${attendance.status == '출장'} ? 'business-trip' :
                                    (${attendance.status == '휴가'} ? 'vacation' : '')))))">근태 상태</td>
                <td th:text="${#temporals.format(attendance.date, 'yy년 MM월 dd일')}">날짜</td>
                <td th:text="${#temporals.format(attendance.checkIn, 'HH:mm')}">출근 시간</td>
                <td th:text="${#temporals.format(attendance.checkOut, 'HH:mm')}">퇴근 시간</td>
                <td th:text="${attendance.overtimeId} == null ? 'N' : 'Y'"></td>
                <td th:text="${attendance.workingHours} + '시간'"></td>
            </tr>
            </tbody>
        </table>
        <div class="pagination-container" th:if="${totalPages > 0}">
            <div class="pagination">
                <span th:if="${currentPage > 1}">
                    <a th:href="@{'/attendance/list?page=' + (${currentPage - 1}) + '&size=' + ${pageSize} + '&keyword=' + ${keyword} + '&department=' + ${department} + '&status=' + ${status} + '&yearmonth=' + ${yearmonth}}">
                        <img th:src="@{/images/icons/arrow-left.png}" alt="이전" class="icon">
                    </a>
                </span>
                <div class="page-area">
                    <span th:if="${totalPages <= 5}">
                        <span th:each="i : ${#numbers.sequence(1, totalPages)}">
                            <a th:href="@{'/attendance/list?page=' + ${i} + '&size=' + ${pageSize} + '&keyword=' + ${keyword} + '&department=' + ${department} + '&status=' + ${status} + '&yearmonth=' + ${yearmonth}}"
                               th:text="${i}" th:classappend="${i == currentPage} ? 'active' : ''">1</a>
                        </span>
                    </span>
                    <span th:if="${totalPages > 5}">
                        <span th:each="i : ${#numbers.sequence(
                                        currentPage > 3 ? (currentPage < totalPages - 2 ? currentPage - 2 : totalPages - 4) : 1,
                                        currentPage > 3 ? (currentPage < totalPages - 2 ? currentPage + 2 : totalPages) : 5)}">
                            <a th:href="@{'/attendance/list?page=' + ${i} + '&size=' + ${pageSize} + '&keyword=' + ${keyword} + '&department=' + ${department} + '&status=' + ${status} + '&yearmonth=' + ${yearmonth}}"
                               th:text="${i}" th:classappend="${i == currentPage} ? 'active' : ''">1</a>
                        </span>
                        </span>
                </div>
                <span th:if="${currentPage < totalPages}">
                    <a th:href="@{'/attendance/list?page=' + (${currentPage + 1}) + '&size=' + ${pageSize} + '&keyword=' + ${keyword} + '&department=' + ${department} + '&status=' + ${status} + '&yearmonth=' + ${yearmonth}}">
                        <img th:src="@{/images/icons/arrow-right.png}" alt="다음" class="icon">
                    </a>
                </span>
            </div>
        </div>
    </div>
</div>
</html>