<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{fragments/layout-with-modal :: layout(title='근태 현황')}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/calander.css}">
    <style>
        .this-month-summary {
            width: 1000px;
            border-collapse: collapse;
            margin: 20px 0;
        }

        .this-month-summary, th, td {
            border: 1px solid #ddd;
        }

        .this-month-summary th, .this-month-summary td {
            padding: 10px;
            text-align: center;
        }

        .this-month-summary thead th {
            background-color: #f2f2f2;
            color: #333;
        }
    </style>
</th:block>

<th:block layout:fragment="script">
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
    <script th:inline="javascript">
        // 모델에 담긴 모든 공휴일 자바스크립트 변수로 변환
        let holidays = /*[[${holidays}]]*/ [];

        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

            // 모델에 담긴 scheduleList를 자바스크립트 변수로 변환
            var events = /*[[${attendanceList}]]*/ [];

            // 근태 이벤트 (attendanceList)
            var attendanceEvents = events.map(function(attendance) {
                let color;
                switch (attendance.status) {
                    case "결근" :
                        color = "#FF0000";
                        break;
                    case "지각" :
                        color = "#FF8000";
                        break;
                    case "조퇴" :
                        color = "#FFD700";
                        break;
                    case "출장" :
                        color = "#8A2BE2";
                        break;
                    case "휴가" :
                        color = "#18A8F1";
                        break;
                    default :
                        color = "#32CD32";
                        break;
                }
                let workingTime = attendance.checkIn ? attendance.checkIn.substring(0, 5) : "";
                if (attendance.checkOut !== null) {
                    workingTime += ' ~ ' + attendance.checkOut.substring(0, 5);
                }
                return {
                    title: attendance.status + ' (' + workingTime + ')',
                    start: attendance.date,     // 근무 날짜
                    allDay: true,               // 하루종일 옵션
                    backgroundColor: color,     // 색상 옵션
                    borderColor: color,         // 테두리 색상 옵션
                    id: attendance.attendanceId // 근태 ID
                };
            });

            // 공휴일 이벤트 (holidays)
            var holidayEvents = holidays.map(function(holiday) {
                return {
                    title: holiday.dateName,        // 공휴일 이름
                    start: holiday.locDate,         // 공휴일 날짜
                    allDay: true,                   // 하루종일 설정
                    backgroundColor: '#FF0000',     // 공휴일 배경색
                    borderColor: '#FF0000',         // 공휴일 테두리 색상
                    id: 'holiday',                  // 공휴일 ID 'holiday'로 설정
                    editable: false,                // 공휴일은 수정 불가로 설정
                    interactive: false              // 공휴일은 클릭 불가로 설정
                };
            });

            // FullCalendar 초기화
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                locale: "ko",
                dayMaxEventRows: 4,
                buttonText: {
                    today: '오늘',
                    month: '월',
                    list: '목록'
                },
                customButtons: {
                    listButton: {
                        text: '목록',
                        click: function() {
                            openModal('/attendance/');
                        }
                    }
                },
                headerToolbar: {
                    left: 'prev,next today',         // 왼쪽에 이전, 다음, 오늘 버튼 배치
                    center: 'title',                 // 가운데에 현재 년/월 표시
                    right: 'dayGridMonth,listMonth'  // 오른쪽에 보기 전환 버튼
                },
                dayCellDidMount: function(info) { // 공휴일 날짜와 매칭하여 날짜 빨강 스타일 적용
                    let date = info.date.toLocaleDateString('ko-KR', {
                        year: 'numeric',
                        month: '2-digit',
                        day: '2-digit'
                    }).replace(/\./g, '').trim().replace(/\s+/g, '-');  // yyyy-mm-dd 형식으로 변환

                    if (holidays.some(holiday => holiday.locDate === date)) {
                        // 공휴일이면 날짜 텍스트를 빨간색으로 설정
                        info.el.style.color = '#FF0000';
                    }
                },
                events: attendanceEvents.concat(holidayEvents), // 근태 일정과 공휴일을 결합
                eventClick: function(info) {
                    if (info.event.id !== 'holiday') {
                        openModal('/attendance/' + info.event.id); // 공휴일이 아닌 근태 일정 클릭 시에만 모달 열기
                    }
                },
                datesSet: function (info) {
                    // 연도와 월을 추출하여 yyyy-MM 형식으로 변환
                    let currentYearMonth = info.view.currentStart;
                    let year = currentYearMonth.getFullYear();
                    let month = ('0' + (currentYearMonth.getMonth() + 1)).slice(-2);

                    let formattedYearMonth = year + '-' + month;    // yyyy-MM 형식으로 결합

                    // fetch로 테이블 데이터 요청
                    fetch('/attendance/summary?yearMonth=' + formattedYearMonth)
                        .then(response => {
                            if (!response.ok) {
                                throw new Error('오류가 발생했습니다.\n Error : ' + response.statusText);
                            }
                            return response.json();
                        })
                        .then(data => {
                            updateTable(data); // 테이블 업데이트
                        })
                        .catch(error => {
                            console.error('Error fetching data:', error);
                        });
                }
            });
            calendar.render();
        });

        // 테이블 업데이트 함수
        function updateTable(data) {
            const tbody = document.querySelector('.this-month-summary tbody');
            const title = document.querySelector('h3');

            tbody.innerHTML = '';  // 기존 데이터 초기화

            // h3 year month 값 추가
            title.textContent = `${data.year}년  ${data.month}월 근태 현황`;

            // 단일 summary 객체에서 데이터 가져와서 테이블 행 생성
            let row = `<tr>
                            <td>${data.employeeId}</td>
                            <td>${data.name}</td>
                            <td>${data.remainingLeave}</td>
                            <td>${data.days}</td>
                            <td>${data.workingTime.toFixed(2)}</td>
                            <td>${data.overtime.toFixed(2)}</td>
                            <td>${data.nightTime.toFixed(2)}</td>
                        </tr>`;

            // 새로운 행을 테이블에 추가
            tbody.innerHTML += row;
        }
    </script>
</th:block>

<div layout:fragment="~{content}">
    <div class="content">
        <div>
            <h3></h3>
            <table border="1" class="this-month-summary">
                <thead>
                <th>ID</th>
                <th>이름</th>
                <th>잔여 연차</th>
                <th>근무 일수</th>
                <th>근무 시간</th>
                <th>초과근무 시간</th>
                <th>야간근무 시간</th>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div id="calendar-container" class="calendar-container">
            <div class="calendar-title" id="calendar-title"></div>
            <div id="calendar" style="width: 1000px"></div>
        </div>
    </div>
</div>
</html>
