<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="footer" th:fragment="footer">
    <p>&copy; 2024 WooSan Company</p>
    <a href="https://github.com/sango7199/Project-HR-System" target="_blank" class="icon-link">
        <img th:src="@{/images/icons/github.png}" alt="GitHub" class="icon">
    </a>
    <a href="https://awake-reaction-86b.notion.site/HaruHaru-Project-with-160975df7b7b4aa483d2d3598cbd7ee2?pvs=4" target="_blank" class="icon-link notion-icon">
        <img th:src="@{/images/icons/notion.png}" alt="Notion" class="icon">
    </a>
</div>
</html>
