<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">하루하루</title>

    <!-- 레이아웃 -->
    <link rel="stylesheet" th:href="@{/css/layout/layout.css}">
    <script th:src="@{/js/common/layout.js}"></script>
    <link rel="stylesheet" th:href="@{/css/layout/modal.css}">

    <!-- 알림 -->
    <link rel="stylesheet" th:href="@{/css/common/notification.css}">
    <script th:src="@{/js/common/notification.js}"></script>

    <!-- 근태 -->
    <link rel="stylesheet" th:href="@{/css/attendance/modal.css}">
    <script th:src="@{/js/attendance/attendance.js}"></script>

    <!-- 각 페이지의 script가 작성될 위치 -->
    <th:block layout:fragment="script"></th:block>

    <!-- 각 페이지의 css가 작성될 위치 -->
    <th:block layout:fragment="css"></th:block>
</head>

<body>
<div class="container">
    <div th:replace="~{fragments/header :: header(title=${title})}"></div>
    <div class="content-layout">
        <div th:replace="~{fragments/sidebar :: sidebar}"></div>
        <div layout:fragment="~{content}" class="content-wrapper">
            <!-- 기본 컨텐츠 영역 -->
        </div>
    </div>
    <!-- 알림 수신함 -->
    <div th:replace="~{fragments/notification-box :: notification-box}"></div>
</div>

<!-- 모달 HTML 구조 -->
<div class="modal" id="myModal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close" onclick="closeModal()">&times;</span>
        </div>
        <div id="modal-body">
            <!-- 모달 컨텐츠 -->
        </div>
    </div>
</div>

<script>
    // 모달 열기 함수
    function openModal(contentUrl) {
        var modal = document.getElementById("myModal");
        var modalBody = document.getElementById("modal-body");

        // 컨텐츠 로드
        fetch(contentUrl)
            .then(response => {
                if (response.status === 400) {
                    response.text().then(errorMessage => {
                        alert(errorMessage);
                    });
                }
                if (response.status === 404) {
                    return fetch('/error/modal/404').then(res => res.text());
                }
                if (response.status === 401) {
                    return fetch('/error/modal/401').then(res => res.text());
                }
                if (response.status === 403) {
                    return fetch('/error/modal/403').then(res => res.text());
                }
                if (response.status === 500) {
                    return fetch('/error/modal/500').then(res => res.text());
                }
                if (!response.ok) { // 다른 HTTP 오류 처리
                    throw new Error('서버 오류 발생: ' + response.status);
                }
                return response.text();
            })
            // .then(response => response.text())
            .then(html => {
                modalBody.innerHTML = html;
                modal.style.display = "flex";

                // 확대 애니메이션을 위해 'show' 클래스 추가
                setTimeout(() => {
                    modal.classList.add("show");
                }, 10);


                // 모달 컨텐츠가 로드된 후 포커스 설정
                const firstInput = modalBody.querySelector(".first-input");
                if (firstInput) {
                    firstInput.focus();
                    console.log('Focus set on:', firstInput);
                } else {
                    console.error('First input field not found');
                }
                updateDateTimeElements(); // DateTime T 제거

                // 모달이 열리고 나서 추가 작업 실행
                if (contentUrl.includes('/admin/request/write') || contentUrl.includes('/admin/request/statistic')) {
                    initEventListeners();
                }
            });
    }

    // 모달 닫기 함수
    function closeModal() {
        var modal = document.getElementById("myModal");
        modal.classList.remove("show"); // 'show' 클래스 제거하여 축소 애니메이션 적용
        setTimeout(() => {
            modal.style.display = "none";
        }, 300); // 애니메이션이 끝난 후 모달 숨김
    }

    // 모달 외부 클릭 시 닫기
    window.onclick = function(event) {
        var modal = document.getElementById("myModal");
        if (event.target === modal) {
            closeModal();
        }
    }
</script>

</body>
</html>
