<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <title th:text="${title}">하루하루</title>

        <link rel="stylesheet" th:href="@{/css/layout.css}">

        <!-- 각 페이지의 script가 작성될 위치 -->
        <th:block layout:fragment="script">
            <script>
                // 로그아웃 확인
                document.addEventListener("DOMContentLoaded", function() {
                    const logoutLink = document.getElementById("logout-link");
                    logoutLink.addEventListener("click", function(event) {
                        event.preventDefault();
                        if (confirm("정말 로그아웃하시겠습니까?")) {
                            window.location.href = logoutLink.href;
                        }
                    });
                });
            </script>
        </th:block>

        <!-- 각 페이지의 css가 작성될 위치 -->
        <th:block layout:fragment="css"></th:block>

    </head>

    <body>
        <div class="container">
            <div th:replace="~{fragments/header :: header(title=${title})}"></div>
            <div class="content-layout">
                <div th:replace="~{fragments/sidebar :: sidebar}"></div>
                <div layout:fragment="~{content}" class="content-wrapper">
                    <!-- 기본 컨텐츠 영역 -->
                </div>
            </div>
        </div>
    </body>
</html>
