<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}">하루하루</title>

    <!-- 레이아웃 -->
    <link rel="stylesheet" th:href="@{/css/layout/layout.css}">
    <script th:src="@{/js/common/layout.js}"></script>
    <link rel="stylesheet" th:href="@{/css/layout/modal.css}">
    <link rel="stylesheet" th:href="@{/css/layout/loader.css}">

    <!-- 알림 -->
    <link rel="stylesheet" th:href="@{/css/common/notification.css}">
    <script th:src="@{/js/common/notification.js}"></script>

    <!-- 근태 -->
    <link rel="stylesheet" th:href="@{/css/attendance/modal.css}">
    <script th:src="@{/js/attendance/attendance.js}"></script>

    <!-- 각 페이지의 script가 작성될 위치 -->
    <th:block layout:fragment="script"></th:block>

    <!-- 각 페이지의 css가 작성될 위치 -->
    <th:block layout:fragment="css"></th:block>
</head>

<body>
<div class="container">
    <!-- 로딩 애니메이션 -->
    <div class="loader-overlay" id="loader">
        <div class="loader"></div>
    </div>
    <div th:replace="~{fragments/header :: header(title=${title})}"></div>
    <div class="content-layout">
        <div th:replace="~{fragments/sidebar :: sidebar}"></div>
        <div layout:fragment="~{content}" class="content-wrapper">
            <!-- 기본 컨텐츠 영역 -->
        </div>
    </div>
    <!-- 알림 수신함 -->
    <div th:replace="~{fragments/notification-box :: notification-box}"></div>
</div>

<!-- 모달  -->
<div class="modal" id="myModal">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close" onclick="closeModal()">&times;</span>
        </div>
        <div id="modal-body">
            <!-- 모달 컨텐츠 -->
        </div>
    </div>
</div>

</body>
</html>
