<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<th:block layout:fragment="css"></th:block>

<th:block layout:fragment="script"></th:block>


<div class="modal" id="myModal" th:fragment="modal">
    <div class="modal-content">
        <span class="close" onclick="closeModal()">&times;</span>
        <div id="modal-body">
            <div layout:fragment="~{modalContent}" class="content-wrapper">
                <!-- 모달 컨텐츠 영역 -->
            </div>
        </div>
    </div>
</div>
</html>
