<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div class="sidebar" th:fragment="sidebar">
        <ul>
            <li><a href="#"><img src="/images/home-icon.png" alt="Home" width="20"> 홈</a></li>
        </ul>
        <p class="section-sidebar">출퇴근 및 방문</p>
        <ul>
            <li><a href="#"><img src="/images/attendance-icon.png" alt="Attendance" width="20"> 출퇴근</a></li>
            <li><a href="#"><img src="/images/schedule-icon.png" alt="Schedule" width="20"> 방문 일정</a></li>
            <li><a href="#"><img src="/images/leave-icon.png" alt="Leave" width="20"> 휴가</a></li>
            <li><a href="#"><img src="/images/overtime-icon.png" alt="Overtime" width="20"> 초과근무</a></li>
        </ul>
        <p class="section-sidebar">커뮤니케이션</p>
        <ul>
    <!--        <li><a href="#"><img src="/images/task-icon.png" alt="Task" width="20"> 할 일</a></li>-->
            <li><a href="#"><img src="/images/announcement-icon.png" alt="Announcement" width="20"> 공지 및 설문</a></li>
            <li><a href="#"><img src="/images/report-icon.png" alt="Report" width="20"> 보고서</a></li>
            <li><a href="#"><img src="/images/forum-icon.png" alt="Forum" width="20"> 게시판</a></li>
        </ul>
        <p class="section-sidebar">관리</p>
        <ul>
            <li><a href="#"><img src="/images/members-icon.png" alt="Members" width="20"> 구성원</a></li>
        </ul>
    </div>
</html>
