<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/employee.css}"/>
</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/js/emloyee-detail-edit.js}"></script>
</th:block>

<div>
    <div>
        <img class="employee-picture" th:src="${pictureUrl}"/>
        <table>
            <tr>
                <th>사원 ID</th>
                <td th:text="${employee.employeeId}"></td>
            </tr>
            <tr>
                <th>이름</th>
                <td th:text="${employee.name}"></td>
            </tr>
            <tr>
                <th>주민등록번호</th>
                <td th:text="${employee.birth} + '-' + ${employee.residentRegistrationNumber}"></td>
            </tr>
            <tr>
                <th>전화번호</th>
                <td th:text="${employee.phone}"></td>
            </tr>
            <tr>
                <th>이메일</th>
                <td th:text="${employee.email}"></td>
            </tr>
            <tr>
                <th>주소</th>
                <td th:text="${employee.address}"></td>
            </tr>
            <tr>
                <th>상세 주소</th>
                <td th:text="${employee.detailAddress}"></td>
            </tr>
            <tr>
                <th>부서</th>
                <td th:text="${employee.department.name}"></td>
            </tr>
            <tr>
                <th>직급</th>
                <td th:text="${employee.position.name}"></td>
            </tr>
            <tr>
                <th>입사 날짜</th>
                <td th:text="${employee.hireDate}"></td>
            </tr>
            <tr>
                <th>재직 상태</th>
                <td th:text="${employee.status}"></td>
            </tr>
            <tr>
                <th>남은 연차</th>
                <td th:text="${employee.remainingLeave}"></td>
            </tr>
        </table>
        <table>
            <tr>
                <th>사원 정보 수정자</th>
                <td th:text="${employee.modifiedBy}"></td>
            </tr>
            <tr>
                <th>사원 정보 수정일시</th>
                <td th:text="${employee.lastModified}" class="dateTime"></td>
            </tr>
        </table>
        <table>
            <tr>
                <th>비밀번호</th>
                <td th:text="${employee.password?.password}"></td>
            </tr>
            <tr>
                <th>비밀번호 강도</th>
                <td th:text="${employee.password?.strength}"></td>
            </tr>
            <tr>
                <th>비밀번호 오류 횟수</th>
                <td th:text="${employee.password?.passwordCount}"></td>
            </tr>
            <tr>
                <th>비밀번호 수정자</th>
                <td th:text="${employee.password?.modifiedBy}"></td>
            </tr>
            <tr>
                <th>비밀번호 수정일시</th>
                <td th:text="${employee.password?.lastModified}" class="dateTime"></td>
            </tr>
        </table>
        <table th:if="${employee.status} == '퇴사'">
            <tr>
                <th>퇴사일</th>
                <td th:text="${employee.resignation?.resignationDate}"></td>
            </tr>
            <tr>
                <th>퇴사 사유</th>
                <td th:text="${employee.resignation?.getResignationReason()}"></td>
            </tr>
            <tr>
                <th>퇴사 코드</th>
                <td th:text="${employee.resignation?.codeNumber}"></td>
            </tr>
            <tr>
                <th>구체적 사유</th>
                <td th:text="${employee.resignation?.specificReason}"></td>
            </tr>
            <tr>
                <th>퇴사 처리한 사원 ID</th>
                <td th:text="${employee.resignation?.getProcessedBy()}"></td>
            </tr>
            <tr>
                <th>퇴사 처리 일시</th>
                <td th:text="${employee.resignation?.getProcessedDate()}" class="dateTime"></td>
            </tr>
        </table>
        <div>
            <button type="button" class="btn" th:employeeId="${employee.employeeId}" onclick="editEmployee(this)">사원 정보 수정</button>
            <button th:if="${employee.status} == '퇴사'" type="button" class="btn" th:employeeId="${employee.employeeId}" onclick="editResignedEmployee(this)">퇴사 정보 수정</button>
            <button th:unless="${employee.status} == '퇴사'" type="button" class="btn" th:employeeId="${employee.employeeId}" th:onclick="openModal('/admin/employee/edit/status/' + this.getAttribute('employeeId'))">재직 상태 수정</button>
            <button type="button" class="btn" th:employeeId="${employee.employeeId}" th:name="${employee.name}" th:position="${employee.position}" onclick="promoteEmployee(this)">승진 처리</button>
            <button th:unless="${employee.password?.passwordCount == 5}" class="btn" th:employeeId="${employee.employeeId}" th:name="${employee.name}" onclick="lockAccount(this)">계정 잠금</button>
            <button th:if="${employee.password?.passwordCount == 5}" class="btn" th:employeeId="${employee.employeeId}" th:name="${employee.name}" onclick="unlockAccount(this)">계정 잠금 해제</button>
        </div>
    </div>
</div>
</html>
