<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{fragments/layout-with-modal :: layout(title='사원 조회')}">

<th:block layout:fragment="css">
    <style>
        .list tbody tr:hover {
            cursor: pointer;
        }
    </style>
</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/js/employee.js}"></script>
    <script>
        // 사원 정보 수정 페이지 이동 메소드
        function editEmployee(button) {
            var employeeId = button.getAttribute('employeeId');
            window.location.href = '/employee/edit/detail/' + employeeId;
        }
        // 퇴사 사원 정보 수정 페이지 이동 메소드
        function editResignedEmployee(button) {
            var employeeId = button.getAttribute('employeeId');
            window.location.href = '/employee/edit/resignation/' + employeeId;
        }

        // 계정 잠금과 잠금 해제하는 메소드들
        function unlockAccount(button) {
            var employeeId = button.getAttribute('employeeId');
            var name = button.getAttribute('name');
            var confirmMessage = '\'' + name + '\' 사원을 정말 잠금 해제하시겠습니까?';
            setAccountLock(confirmMessage, employeeId, name);
        }
        function lockAccount(button) {
            var employeeId = button.getAttribute('employeeId');
            var name = button.getAttribute('name');
            var confirmMessage = '\'' + name + '\'의 계정을 정말 잠금 처리하시겠습니까?';
            setAccountLock(confirmMessage, employeeId, name);
        }
        function setAccountLock(confirmMessage, employeeId, name) {
            if (confirm(confirmMessage)) {
                fetch('/api/employee/set/accountLock/' + employeeId, {
                    method: 'PATCH'
                })
                    .then(response => {
                        return response.text().then(text => ({
                            status: response.status,
                            text: text
                        }));
                    })
                    .then(response => {
                        console.log('서버 응답 데이터 :', response.text);
                        if (response.status === 200) {
                            alert('\'' + name + '\' ' + response.text); // 성공 메시지 알림
                            window.location.reload();
                        } else if (response.status === 500) {
                            alert(response.text); // 500 오류 메시지 알림
                        } else {
                            alert('사원 잠금 처리 중 오류가 발생하였습니다.\n재시도 후 문제가 지속하여 발생시 관리자에게 문의해주세요');
                        }
                    })
                    .catch(error => {
                        console.error('Error :', error.message);
                        alert('오류가 발생하였습니다.\n관리자에게 문의해주세요.');
                    });
            }
        }

        // 재직상태 변경하는 메소드
        function updateStatus(event) {
            const form = event.target.closest('form');
            const formData = new FormData(form);
            const statusToBeUpdated = formData.get("status");

            var confirmMessage = "재직 상태를 '" + statusToBeUpdated + "'으로 변경하시겠습니까?";
            const actionUrl = form.action;
            if (confirm(confirmMessage)) {
                fetch(actionUrl, {
                    method: 'PATCH',
                    body: formData
                })
                    .then(response => {
                        return response.text().then(text => ({
                            status: response.status,
                            text: text
                        }));
                    })
                    .then(response => {
                        console.log('서버 응답 데이터 :', response.text);
                        if (response.status === 200) {
                            alert(response.text); // 성공 메시지 알림
                            window.location.href = '/employee/list';
                        } else if (response.status === 500) {
                            alert(response.text); // 500 오류 메시지 알림
                        } else {
                            alert('재직 상태 수정 중 오류가 발생하였습니다.\n재시도 후 문제가 지속하여 발생시 관리자에게 문의해주세요');
                        }
                    })
                    .catch(error => {
                        console.error('Error :', error.message);
                        alert('오류가 발생하였습니다.\n관리자에게 문의해주세요.');
                    });
            }
        }

        // 사원 승진 처리하는 메소드
        function promoteEmployee(button) {
            const employeeId = button.getAttribute('employeeId');
            const name = button.getAttribute('name');
            const position = button.getAttribute('position');

            var confirmMessage = "'" + name + "' 사원의 현재 직급은 '" + position + "'입니다.\n" + "해당 사원의 직급을 승진 처리하시겠습니까?";
            if (confirm(confirmMessage)) {
                fetch('/api/admin/employee/promote/' + employeeId, {
                    method: 'PATCH',
                })
                    .then(response => {
                        return response.text().then(text => ({
                            status: response.status,
                            text: text
                        }));
                    })
                    .then(response => {
                        console.log('서버 응답 데이터 :', response.text);
                        if (response.status === 200) {
                            alert(response.text); // 성공 메시지 알림
                            window.location.href = '/employee/list';
                        } else if (response.status === 500) {
                            alert(response.text); // 500 오류 메시지 알림
                        } else {
                            alert('사원의 승진 처리 중 오류가 발생하였습니다.\n재시도 후 문제가 지속하여 발생시 관리자에게 문의해주세요');
                        }
                    })
                    .catch(error => {
                        console.error('Error :', error.message);
                        alert('오류가 발생하였습니다.\n관리자에게 문의해주세요.');
                    });
            }
        }
    </script>
</th:block>

<div layout:fragment="~{content}">
    <div class="content">
        <h1>사원 조회</h1>
        <div>
            <form th:action="@{/employee/list}" method="get" id="pageSizeForm">
                <input type="hidden" name="page" th:value="1"/>
                <select name="size" onchange="document.getElementById('pageSizeForm').submit()">
                    <option th:value="10" th:text="'10개씩 보기'" th:selected="${pageSize == 10}">10개씩 보기</option>
                    <option th:value="1" th:text="'1개씩 보기'" th:selected="${pageSize == 1}">1개씩 보기</option>
                    <option th:value="25" th:text="'25개씩 보기'" th:selected="${pageSize == 25}">25개씩 보기</option>
                    <option th:value="50" th:text="'50개씩 보기'" th:selected="${pageSize == 50}">50개씩 보기</option>
                </select>
                <input type="hidden" name="keyword" th:value="${keyword}"/>
            </form>
            <form th:action="@{/employee/list}" method="get">
                <input type="hidden" name="page" value="1">
                <input type="hidden" name="size" th:value="${pageSize}"/>
                <input type="text" name="keyword" placeholder="검색어 입력" th:value="${keyword}"/>
                <button type="submit">검색</button>
            </form>
        </div>
        <table border="1" class="list">
            <thead>
            <tr>
                <th>사원 ID</th>
                <th>이름</th>
                <th>생년월일</th>
                <th>전화번호</th>
                <th>이메일</th>
                <th>부서</th>
                <th>직급</th>
                <th>입사일</th>
                <th>상태</th>
                <th>남은 연차</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee : ${employees}" th:employeeId="${employee.employeeId}" th:onclick="openModal('/employee/' + this.getAttribute('employeeId'))">
                <td th:text="${employee.employeeId}">사원 ID</td>
                <td th:text="${employee.name}">이름</td>
                <td th:text="${employee.birth}">생년월일</td>
                <td th:text="${employee.phone}">전화번호</td>
                <td th:text="${employee.email}">이메일</td>
                <td th:text="${employee.department.name}">부서</td>
                <td th:text="${employee.position.name}">직급</td>
                <td th:text="${employee.hireDate}">입사일</td>
                <td th:text="${employee.status}">상태</td>
                <td th:text="${employee.remainingLeave}">남은 연차</td>
            </tr>
            </tbody>
        </table>
        <div class="pagination">
            <span th:if="${currentPage > 1}">
                <a th:href="@{'/employee/list?page=' + (${currentPage - 1}) + '&size=' + ${pageSize} + '&keyword=' + ${keyword}}">
                    <img th:src="@{/images/icons/arrow-left.png}" alt="이전" class="icon">
                </a>
            </span>
            <span th:if="${totalPages <= 5}">
                <span th:each="i : ${#numbers.sequence(1, totalPages)}">
                    <a th:href="@{'/employee/list?page=' + ${i} + '&size=' + ${pageSize} + '&keyword=' + ${keyword}}"
                       th:text="${i}" th:classappend="${i == currentPage} ? 'active' : ''">1</a>
                </span>
            </span>
            <span th:if="${totalPages > 5}">
                <span th:each="i : ${#numbers.sequence(
                                currentPage > 3 ? (currentPage < totalPages - 2 ? currentPage - 2 : totalPages - 4) : 1,
                                currentPage > 3 ? (currentPage < totalPages - 2 ? currentPage + 2 : totalPages) : 5)}">
                    <a th:href="@{'/employee/list?page=' + ${i} + '&size=' + ${pageSize} + '&keyword=' + ${keyword}}"
                       th:text="${i}" th:classappend="${i == currentPage} ? 'active' : ''">1</a>
                </span>
                </span>
            <span th:if="${currentPage < totalPages}">
                <a th:href="@{'/employee/list?page=' + (${currentPage + 1}) + '&size=' + ${pageSize} + '&keyword=' + ${keyword}}">
                    <img th:src="@{/images/icons/arrow-right.png}" alt="다음" class="icon">
                </a>
            </span>
        </div>
    </div>
</div>
</html>
