<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{fragments/layout :: layout(title='사원 등록')}">

<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/employee.css}"/>
</th:block>

<th:block layout:fragment="script">
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
  <script th:src="@{/js/daum-postcode-API.js}"></script>
  <script th:src="@{/js/employee.js}"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      updateCustomField();
      errorMessage = document.querySelector(".error-message");
    });
  </script>
</th:block>

<div layout:fragment="~{content}">
  <div class="content">
    <form th:action="@{/api/employee/register}" onsubmit="submitInsertForm(event)" enctype="multipart/form-data">
      <div class="form-group">
        <img id="employee-picture" class="employee-picture"/><br>
        <p>사진은 10MB까지 업로드 가능합니다.</p>
        <span id="file-name"></span>
        <label for="picture" class="input-file-btn">사진 업로드</label>
        <input type="file" id="picture" class="hidden" name="picture" onchange="validateImage(this)">
      </div>
      <div class="form-group">
        <label for="name">이름</label>
        <input type="text" id="name" name="name" maxlength="100">
      </div>
      <div class="form-group">
        <label for="birth">생년월일 (주민번호 앞자리)</label>
        <input type="text" id="birth" name="birth" maxlength="6">
      </div>
      <div class="form-group">
        <label for="residentRegistrationNumber">주민번호 뒷자리</label>
        <input type="text" id="residentRegistrationNumber" name="residentRegistrationNumber" maxlength="7">
      </div>
      <div class="form-group">
        <label for="phone">전화번호</label>
        <input type="text" class="phoneInput" id="phoneInput" name="phoneInput" maxlength="11" placeholder="숫자만 입력해주세요.">
        <input type="hidden" id="phone" name="phone">
      </div>
      <div class="form-group">
        <label for="emailLocal">이메일</label>
        <input type="text" id="emailLocal" name="emailLocal">
        @
        <input type="text" id="customEmailDomain" name="customEmailDomain" class="hidden">
        <select id="emailDomain" name="emailDomain" onchange="updateCustomField()">
          <option value="custom">직접입력</option>
          <option value="naver.com">naver.com</option>
          <option value="gmail.com">gmail.com</option>
          <option value="icloud.com">icloud.com</option>
          <option value="outlook.com">outlook.com</option>
          <option value="nate.com">nate.com</option>
          <option value="daum.net">daum.net</option>
          <option value="yahoo.com">yahoo.com</option>
        </select>
        <input type="hidden" id="email" name="email">
      </div>
      <div class="form-group">
        <label for="address">주소</label>
        <input type="text" id="address" name="address" readonly>
        <input type="button" onclick="execDaumPostcode()" value="우편번호 찾기"><br>
      </div>
      <div class="form-group">
        <label for="detailAddress">상세 주소</label>
        <input type="text" id="detailAddressInput" name="detailAddressInput">
        <input type="text" id="extraAddress" placeholder="참고항목" readonly>
        <input type="hidden" id="detailAddress" name="detailAddress">
      </div>
      <div class="form-group">
        <label>결혼 상태</label>
        <input type="radio" id="marriedYes" name="maritalStatus" value="1" onchange="updateDependents()"> 기혼
        <input type="radio" id="marriedNo" name="maritalStatus" value="0" onchange="updateDependents()"> 미혼
      </div>
      <div class="form-group">
        <label for="numDependents">부양 가족 수</label> <span>(본인 포함)</span>
        <input type="number" id="numDependents" name="numDependents" min="1" max="11" value="1">
      </div>
      <div class="form-group">
        <label for="numChildren">8세 이상 20세 이하 자녀 수</label>
        <input type="number" id="numChildren" name="numChildren" min="0" max="11" value="0">
      </div>
      <div class="form-group">
        <label for="department">부서</label>
        <select id="department" name="department">
          <option value="">선택하세요</option>
          <option value="PR">생산</option>
          <option value="QC">품질관리</option>
          <option value="SA">영업</option>
          <option value="MK">마케팅</option>
          <option value="FI">재무</option>
          <option value="HR">인사</option>
          <option value="RD">연구개발</option>
        </select>
      </div>
      <div class="form-group">
        <label for="position">직위</label>
        <select id="position" name="position">
          <option value="">선택하세요</option>
          <option value="사원">사원</option>
          <option value="대리">대리</option>
          <option value="과장">과장</option>
          <option value="차장">차장</option>
          <option value="부장">부장</option>
          <option value="사장">사장</option>
        </select>
      </div>
      <div class="form-group">
        <label for="hireDate">입사일</label>
        <input type="date" id="hireDate" name="hireDate">
      </div>
      <div class="error-message"></div>
      <button type="submit" class="btn">등록</button>
    </form>
  </div>
</div>
</html>
