<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{fragments/layout :: layout(title='사원 등록')}">

<th:block layout:fragment="css">

</th:block>

<th:block layout:fragment="script">
  <script>
    function combineEmail() {
      const emailLocal = document.getElementById("email_local").value;
      const emailDomain = document.getElementById("email_domain").value;
      const email = emailLocal + "@" + emailDomain;
      document.getElementById("email").value = email;
    }
  </script>
</th:block>

  <div layout:fragment="~{content}">
      <div class="content">
        <h2>사원 등록</h2>
        <form th:action="@{/employee/register}" method="post" onsubmit="combineEmail()">
          <div class="form-group">
            <label for="name">이름</label>
            <input type="text" id="name" name="name" required>
          </div>
          <div class="form-group">
            <label for="birth">생년월일 (주민번호 앞자리)</label>
            <input type="text" id="birth" name="birth" maxlength="6" required>
          </div>
          <div class="form-group">
            <label for="residentRegistrationNumber">주민번호 뒷자리</label>
            <input type="text" id="residentRegistrationNumber" name="residentRegistrationNumber" maxlength="7" required>
          </div>
          <div class="form-group">
            <label for="phone">전화번호</label>
            <input type="text" class="phone" id="phone" name="phone" maxlength="15" required>
          </div>
          <div class="form-group">
            <label for="email_local">이메일</label>
            <input type="text" id="email_local" name="email_local" required>
            @
            <select id="email_domain" name="email_domain">
              <option value="naver.com">naver.com</option>
              <option value="gmail.com">gmail.com</option>
              <option value="daum.net">daum.net</option>
            </select>
            <input type="hidden" id="email" name="email">
          </div>
          <div class="form-group">
            <label for="address">주소</label>
            <input type="text" id="address" name="address" required>
          </div>
          <div class="form-group">
            <label for="detailedAddress">상세 주소</label>
            <input type="text" id="detailedAddress" name="detailedAddress" required>
          </div>
          <div class="form-group">
            <label for="department">부서</label>
            <select id="department" name="department" required>
              <option value="PR">생산</option>
              <option value="QC">품질관리</option>
              <option value="SA">영업</option>
              <option value="MK">마케팅</option>
              <option value="FI">재무</option>
              <option value="HR">인사</option>
              <option value="RD">연구개발</option>
            </select>
          </div>
          <div class="form-group">
            <label for="position">직위</label>
            <select id="position" name="position" required>
              <option value="사원">사원</option>
              <option value="대리">대리</option>
              <option value="과장">과장</option>
              <option value="차장">차장</option>
              <option value="부장">부장</option>
              <option value="사장">사장</option>
            </select>
          </div>
          <div class="form-group">
            <label for="hireDate">입사일</label>
            <input type="date" id="hireDate" name="hireDate" required>
          </div>
          <button type="submit" class="btn">등록</button>
        </form>
      </div>
  </div>
</html>
