<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">

<th:block layout:fragment="css">
    <link th:href="@{/css/common/button.css}" rel="stylesheet">
    <link th:href="@{/css/common/input.css}" rel="stylesheet">
    <link th:href="@{/css/schedule/detail.css}" rel="stylesheet">
    <link th:href="@{/css/schedule/create.css}" rel="stylesheet">
</th:block>

<form id="editForm" action="/schedule/edit" onsubmit="submitUpdateForm(event)">
    <div class="detail-container">
        <div class="task-name">
            <input type="text" id="taskName" name="taskName" th:value="${schedule.taskName}">
        </div>
        <table class="employee-details">
            <tr>
                <td class="section-title">작업 ID</td>
                <td class="section-title">담당자</td>
                <td class="section-title">부서 / 직급</td>
                <td class="section-title">작업 생성일</td>
            </tr>
            <tr>
                <td th:text="${schedule.taskId}">일정 ID</td>
                <td th:text="${employee.name + '(' + schedule.memberId + ')'}">담당자</td>
                <td th:text="${employee.department + ' / ' + employee.position}">부서와 직급</td>
                <td th:text="${#temporals.format(schedule.createdDate, 'yyyy년 MM월 dd일 HH시 mm분')}">일정 생성일</td>
                <input type="hidden" id="taskId" name="taskId" th:value="${schedule.taskId}"/>
                <input type="hidden" id="memberId" name="memberId" th:value="${schedule.memberId}"/>
            </tr>
        </table>
        <table class="details">
            <tr>
                <td class="section-title">하루종일</td>
                <td class="section-title">일정 색상</td>
            </tr>
            <tr>
                <td>
                    <div>
                        <label class="switch">
                            <input type="checkbox" id="allDay" name="allDay" th:checked="${schedule.allDay == true}"
                                   onchange="toggleDateTimeFields()">
                            <span class="slider"></span>
                        </label>
                    </div>
                </td>
                <td>
                    <div class="color-area">
                        <div id="colorPreview" class="color-preview"
                             th:style="'background-color: ' + ${schedule.color}"></div>
                        <select id="color" name="color" onchange="changeColor()">
                            <option value="#FF0000" th:selected="${schedule.color == '#FF0000'}">빨강색</option>
                            <option value="#FF8000" th:selected="${schedule.color == '#FF8000'}">주황색</option>
                            <option value="#FFD700" th:selected="${schedule.color == '#FFD700'}">노랑색</option>
                            <option value="#32CD32" th:selected="${schedule.color == '#32CD32'}">초록색</option>
                            <option value="#18A8F1" th:selected="${schedule.color == '#18A8F1'}">하늘색</option>
                            <option value="#000080" th:selected="${schedule.color == '#000080'}">남색</option>
                            <option value="#8A2BE2" th:selected="${schedule.color == '#8A2BE2'}">보라색</option>
                            <option value="#FF1493" th:selected="${schedule.color == '#FF1493'}">핑크색</option>
                            <option value="#8B4513" th:selected="${schedule.color == '#8B4513'}">갈색</option>
                            <option value="#808080" th:selected="${schedule.color == '#808080'}">회색</option>
                            <option value="#000000" th:selected="${schedule.color == '#000000'}">검은색</option>
                        </select>
                    </div>
                </td>
            </tr>
        </table>
        <table class="details">
            <tr>
                <td class="section-title">일정 내용</td>
                <td>
                    <textarea id="content" name="content" placeholder="일정 내용을 입력해주세요."
                              th:text="${schedule.content}"></textarea>
                </td>
            </tr>
            <tr>
                <td class="section-title">시작일</td>
                <td>
                    <div class="date-td">
                        <input type="datetime-local" id="startDateTime" th:value="${schedule.startTime}">
                        <input type="date" id="startDate" style="display: none"
                               th:value="${#temporals.format(schedule.startTime, 'yyyy-MM-dd')}">
                        <input type="hidden" id="startTime" name="startTime">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="section-title">종료일</td>
                <td>
                    <div class="date-td">
                        <input type="datetime-local" id="endDateTime" th:value="${schedule.endTime}">
                        <input type="date" id="endDate" style="display: none"
                               th:value="${#temporals.format(schedule.endTime, 'yyyy-MM-dd')}">
                        <input type="hidden" id="endTime" name="endTime">
                    </div>
                </td>
            </tr>
        </table>

        <div class="project-travel-header">
            <h3>프로젝트 및 출장 정보</h3>
            <button class="addTripButton inner-btn big" th:if="${trip} == null" type="button" onclick="addTripFields()">추가</button>
            <button class="closeTripButton inner-btn big" th:if="${trip} == null" type="button" onclick="closeTripFields()" style="display:none">삭제</button>
            <button class="addTripButton inner-btn big" th:if="${trip} != null" type="button" onclick="addTripFields()" style="display:none">추가</button>
            <button class="closeTripButton inner-btn big" th:if="${trip} != null" type="button" onclick="closeTripFields()">삭제</button>
        </div>

        <div class="trip-table-container"></div>

        <div th:if="${trip} != null">
            <input type="hidden" id="tripId" th:value="${trip.tripId}">
            <table id="tripTable" class="details">
                <tr>
                    <td class="section-title">연관된 프로젝트</td>
                    <td>
                        <select id="projectId" name="projectId">
                            <!-- 프로젝트 구현 완료 되면 ajax로 불러올 예정 -->
                            <option value="" disabled selected>선택해주세요.</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="section-title">출장지 주소</td>
                    <td>
                        <div class="postcode-container">
                            <input type="text" id="sample6_postcode" placeholder="우편번호" readonly>
                            <button type="button" class="inner-btn blue-btn" onclick="sample6_execDaumPostcode()">우편번호 찾기</button>
                        </div>
                        <div class="address-container">
                            <input type="text" id="sample6_address" placeholder="주소" th:value="${trip.address}" readonly>
                        </div>
                        <div class="detail-address-container">
                            <input type="text" id="sample6_detailAddress" th:value="${trip.detailedAddress}" placeholder="상세주소">
                            <input type="text" id="sample6_extraAddress" placeholder="참고항목">
                            <div>
                                <div class="flex-center" style="gap: 10px;">
                                    <button type="button" id="mapButton" class="inner-btn green-btn"
                                            th:attr="data-address=${trip.address}, data-detail=${trip.detailedAddress}"
                                            onclick="viewMap()">지도 보기</button>
                                    <button type="button" id="mapButton2" class="inner-btn green-btn"
                                            onclick="closeMap()" style="display: none;">지도 닫기</button>
                                </div>
                            </div>
                        </div>
                        <div id="map-section" class="flex-center" style="display: none; margin-top: 10px;">
                            <div id="map" style="width:500px; height:400px;"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="section-title">출장지 이름</td>
                    <td>
                        <input type="text" id="tripName" th:value="${trip.tripName}" placeholder="출장지 이름 입력">
                    </td>
                </tr>
                <tr>
                    <td class="section-title">전화번호</td>
                    <td>
                        <input id="tripTel" type="text" th:value="${trip.contactTel}" oninput="localAutoHyphen(this)" maxlength="13" placeholder="전화번호를 입력하세요"/>
                    </td>
                </tr>
                <tr>
                    <td class="section-title">이메일</td>
                    <td>
                        <div class="email-container">
                            <input id="emailLocalPart" type="text" class="input-text" th:value="${emailLocalPart}"/>
                            <div class="characters">@</div>
                            <input id="domainInput" type="text" style="display: none;" disabled>
                            <select id="domainSelect">
                                <option value="naver.com" th:selected="${emailDomainPart == 'naver.com'}">naver.com</option>
                                <option value="google.com" th:selected="${emailDomainPart == 'google.com'}">google.com</option>
                                <option value="hanmail.net" th:selected="${emailDomainPart == 'hanmail.net'}">hanmail.net</option>
                                <option value="nate.com" th:selected="${emailDomainPart == 'nate.com'}">nate.com</option>
                                <option value="kakao.com" th:selected="${emailDomainPart == 'kakao.com'}">kakao.com</option>
                                <option value="custom">직접 입력</option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="section-title">참고사항</td>
                    <td>
                        <input id="note" type="text" class="input-text"/>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <div id="error-message" class="error-message"></div>
            <div class="create-btn-container">
                <button type="reset" class="btn">초기화</button>
                <button type="submit" class="btn">일정 수정</button>
            </div>
        </div>
    </div>
</form>
</html>
