<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{fragments/layout-with-modal :: layout(title='내 일정 목록 조회')}">

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/vacation/detail.css}">
    <link rel="stylesheet" th:href="@{/css/switch.css}">
    <link rel="stylesheet" th:href="@{/css/schedule/create.css}">
    <link rel="stylesheet" th:href="@{/css/calander.css}">
    <style>
        .list tbody tr:hover {
            cursor: pointer;
        }
        .notStarted {
            color: #FFD700;
            font-weight: bold;
        }
        .inProcess {
            color: #FF8C00;
            font-weight: bold;
        }
        .done {
            color: #32CD32;
            font-weight: bold;
        }
    </style>
</th:block>

<th:block layout:fragment="script">
    <!--네이버 지도 API-->
    <script th:src="@{/js/schedule/create.js}"></script>
    <script th:src="@{/js/schedule/ajax.js}"></script>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
    <script th:inline="javascript">
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');

            // 모델에 담긴 scheduleList를 자바스크립트 변수로 변환
            var events = /*[[${scheduleList}]]*/ [];

            // FullCalendar 초기화
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                locale: "ko",
                eventLimit: 4,
                height: 800,
                buttonText: {
                    today: '오늘',
                    month: '월',
                    list: '목록'
                },
                customButtons: {
                    planButton: {
                        text: '일정 등록',
                        click: function() {
                            openModal('/schedule/new2');
                        }
                    }
                },
                headerToolbar: {
                    left: 'prev,next today',        // 왼쪽에 이전, 다음, 오늘 버튼 배치
                    center: 'title',                // 가운데에 현재 년/월 표시
                    right: 'planButton dayGridMonth,listMonth' // 오른쪽에 보기 전환 버튼
                },
                events: events.map(function(schedule) {
                    return {
                        title: schedule.taskName,         // 일정 제목
                        start: schedule.startTime,        // 시작일
                        end: schedule.endTime,            // 종료일
                        allDay: schedule.allDay,          // 하루종일 옵션
                        backgroundColor: schedule.color,  // 색상 옵션
                        id: schedule.taskId               // 일정 ID
                    };
                }),
                eventClick: function(info) {
                    openModal('/schedule/' + info.event.id);
                }
            });
            calendar.render();
        });
    </script>
</th:block>

<div layout:fragment="~{content}">
    <div class="content">
        <div>
            <h3>오늘의 일정 <span th:text="${#dates.format(#dates.createNow(), ' - MM월 dd일 (EEEE)')}" style="font-size: 16px"></span></h3>
            <table border="1" class="list">
                <thead>
                <tr>
                    <th>일정 이름</th>
                    <th>일정 기한</th>
                    <th>일정 상태</th>
                    <th>일정 생성일</th>
                    <th>프로젝트 번호</th>
                    <th>출장 번호</th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${todaySchedules.isEmpty()}">
                    <td colspan="6" style="text-align: center; padding: 20px;">
                        오늘의 일정이 없습니다.
                    </td>
                </tr>
                <tr th:each="schedule : ${todaySchedules}" th:taskId="${schedule.taskId}" th:onclick="openModal('/schedule/' + this.getAttribute('taskId'))">
                    <td th:text="${schedule.taskName}">일정 이름</td>
                    <td th:text="${#temporals.format(schedule.startTime, 'MM월 dd일(EE)') + ' ~ '
                    + #temporals.format(schedule.endTime, 'MM월 dd일(EE)')}">일정 기한</td>
                    <td th:text="${schedule.status}"
                        th:classappend="${schedule.status == '미완료'} ? 'notStarted' :
                                       (${schedule.status == '진행중'} ? 'inProcess' :
                                       (${schedule.status == '완료'} ? 'done' : ''))">일정 상태</td>
                    <td th:text="${#temporals.format(schedule.createdDate, 'MM월 dd일(EE)')}">일정 생성일</td>
                    <td th:text="${schedule.projectId}">프로젝트 번호</td>
                    <td th:text="${schedule.tripId}">출장 번호</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div>
            <div id="calendar-container" class="calendar-container">
                <div class="calendar-title" id="calendar-title"></div>
                <div id="calendar" style="width: 1000px"></div>
            </div>
        </div>
    </div>
</div>
</html>
