<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<body>
<div class="detail-container">
    <h1>거래처 정보</h1>
    <div class="btn-container">
        <div id="error-message" class="error-message"></div>
        <div class="btn-container">
            <button type="button" class="btn" onclick="saveTripInfo()">등록</button>
        </div>
    </div>
    <table class="details">
        <tr>
            <td class="section-title">주소</td>
            <td>
                <div id="address-input-section">
                    <form>
                        <input type="text" id="sample6_postcode" placeholder="우편번호">
                        <input type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기"><br>
                        <input type="text" id="sample6_address" placeholder="주소"><br>
                        <input type="text" id="sample6_detailAddress" placeholder="상세주소">
                        <input type="text" id="sample6_extraAddress" placeholder="참고항목">
                        <button type="button" onclick="viewMap()">지도 보기</button>
                    </form>
                </div>
                <div id="map-section" style="display: none;">
                    <!-- 지도와 수정 버튼 -->
                    <div id="map" style="width:500px; height:400px;"></div>
                    <button type="button" onclick="editAddress()">주소 수정</button>
                </div>
            </td>
        </tr>
        <tr>
            <td class="section-title">출장지 이름</td>
            <td><input id="tripName" type="text" placeholder="이름을 입력하세요"></td>
        </tr>
        <tr>
            <td class="section-title">전화번호</td>
            <td><input id="tripTel" type="tel" placeholder="전화번호를 입력하세요"></td>
        </tr>
        <tr>
            <td class="section-title">이메일</td>
            <td><input id="email" type="email" placeholder="이메일을 입력하세요"></td>
        </tr>
        <tr>
            <td class="section-title">참고사항</td>
            <td><input id="note" type="text" placeholder="참고사항을 입력하세요"></td>
        </tr>
    </table>
</div>
</body>
</html>
