<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{fragments/layout-without-sidebar :: layout(title='405 Error')}">

<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/httpstatus.css}">
    </th:block>
</head>

<body>
<div layout:fragment="~{content}">
    <div class="content">
        <section class="httpstatus-section">
            <div class="httpstatus-container">
                <div class="logo-area">
                    <img th:src="@{/images/logo/otter-sad.png}" alt="Logo" class="logo-image">
                </div>
                <div class="text-area">
                    <h1>405 Error - Method Not Allowed</h1>
                    <p>죄송합니다. 요청하신 메소드가 잘못 되었습니다.</p>
                    <p>해당 페이지에서는 사용 가능한 요청 메소드가 아닙니다.<br>정확한 URL과 메소드를 사용했는지 확인해 주세요.</p>
                    <a th:href="@{/common/home}" class="a-btn">홈페이지로 이동</a>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>
