<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{fragments/layout-without-sidebar :: layout(title='404 Error')}">

<head>
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{/css/error/httpstatus.css}">
    </th:block>
</head>

<body>
<div layout:fragment="~{content}">
    <div class="content">
        <section class="httpstatus-section">
            <div class="httpstatus-container">
                <div class="logo-area">
                    <img th:src="@{/images/logo/otter-default.png}" alt="Logo" class="logo-image">
                </div>
                <div class="text-area">
                    <h1>In ready</h1>
                    <p>페이지가 준비 중입니다.</p>
                    <p>지속적인 개발로 더 나은 경험을 제공하겠습니다.</p>
                    <a th:href="@{/home}" class="a-btn">홈페이지로 이동</a>
                </div>
            </div>
        </section>
    </div>
</div>
</body>
</html>
