.vacation-add-container input[type="text"],
.vacation-edit-container input[type="text"]{
    width: 90%;
}

.vacation-add-container select,
.vacation-edit-container select {
    width: 95%;
}

.vacation-add-container textarea,
.vacation-edit-container textarea {
    width: 90%;
}

.vacation-add-container .btn-container {
    justify-content: space-between;
    margin-top: 10px;
}

.vacation-add-container .btn-container .btn {
    width: 48%;
    font-size: 16px;
}