body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    user-drag: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Header styles */
.header {
    padding: 10px;
    border-bottom: 2px solid #f1f1f1;
    display: flex;
    align-items: center;
}

.header img {
    width: 150px;
    padding: 0 15px 0;
    margin-right: 35px;
}

.header span {
    font-size: 24px;
    font-weight: bold;
}

.content-layout {
    display: flex;
    flex-grow: 1;
}

/* Sidebar styles */
.sidebar {
    position: relative;
    width: 150px;
    padding: 20px;
    background: white;
    z-index: 20;
    flex-shrink: 0;
}

.sidebar p {
    margin: 0;
    padding: 0;
}

.section-sidebar {
    border-top: 2px solid #f1f1f1;
    cursor: pointer;
}

.sidebar ul, .section-sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.section-sidebar .sidebar-category {
    padding: 5px;
    margin: 7px 0 5px;
    color: #727272;
    font-size: 14px;
}

.section-sidebar .sidebar-category:hover {
    background-color: #E1F4FD;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.sidebar ul li, .section-sidebar ul li {
    padding: 5px;
    margin: 5px 0;
    display: block;
}

.sidebar ul li a, .sidebar ul #notification-li div p,.section-sidebar ul li p {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.sidebar ul li a img, .sidebar ul #notification-li div p img, .section-sidebar ul li p img {
    margin-right: 10px;
}

/* #notification-li styles */
.sidebar ul #notification-li div {
    display: flex;
    justify-content: space-between;
}

.notification-badge {
    font-size: 11px;
    text-align: center;
    font-weight: bold;
    padding: 3px;
    background: #FF0000;
    border-radius: 5px;
    color: white;
}

/* Submenu styles */
.submenu {
    display: none;
    padding: 5px 5px 0 5px !important;
    margin-top: 0px !important;
}

/*.sidebar ul li:hover > .submenu, .section-sidebar ul li:hover > .submenu {*/
/*    display: block;*/
/*}*/

.sidebar ul li:hover, .section-sidebar ul li:hover {
    background-color: #E1F4FD;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.submenu li {
    height: auto;
    padding: 0 !important;
    margin: 3px 0 !important;
}

.submenu li a {
    padding: 4px 0 4px 10px;
    font-size: 15px;
    display: block;
}

.submenu li:hover a {
    background-color: #C3E8FB;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.sidebar .active {
    background-color: #A1DBF9 !important;
    border-radius: 4px;
}

.open {
    display: block;
}

/* Logout styles */
#logout-area {
    padding: 15px 0 10px;
    border-top: 2px solid #f1f1f1;
    margin: 10px 0 0 ;
}

/* Content styles */
.content-wrapper {
    background-color: #f1f1f1;
    flex-grow: 1;
    padding: 20px;
}

.content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

/* Fotter styles */
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 0;
    background-color: #fafafa;
    color: #888;
    position: relative;
    width: 100%;
}

.footer #icon-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}

.footer p {
    margin: 0 15px 0 0;
}

.icon-link {
    margin: 0 10px;
    transition: transform 0.3s ease;
}

.icon-link:hover {
    transform: scale(1.2);
}

.icon {
    width: 24px;
    height: 24px;
}

.notion-icon .icon {
    width: 30px;
    height: 30px;
}

/* Button styles */
/* 버튼에는 btn 클래스를 추가해주세요. */
/* a에는 a-btn 클래스를 추가해주세요.  */
/* 파일 버튼은 label에 input-file-btn 클래스를 추가해주세요. */
/* 이미지 버튼에는 image-btn 클래스를 추가해주세요. */
.btn {
    padding: 10px;
    background-color: #cfedfc;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: #18a8f1;
    color: white;
}

.a-btn {
    background-color: #cfedfc;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.a-btn:hover {
    background-color: #18a8f1;
    color: white;
}

.input-file-btn {
    width : 280px;
    font-size: 13px;
    padding: 10px;
    background-color: #cfedfc;
    color: black;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.input-file-btn:hover {
    background-color: #18a8f1;
    color: white;
}

.image-btn {
    background-color: white;
    padding: 1px 2px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.image-btn:hover {
    background-color: #EDEDED;
}

/* Error Message styles */
/* 에러메세지에 error-message 클래스를 추가해주세요. */
.error-message {
    color: #ff0000;
    text-align: left;
    margin-bottom: 15px;
}

/* Table styles */
/* 테이블에 list 클래스를 추가해주세요. */
 .list tbody tr:hover {
     background-color: #C3E8FB;
 }

 /* Text styles */
.disabled {
    text-decoration: line-through !important;
    pointer-events: none;
    color: gray !important;
}

/* Hidden Styles */
/* hidden 클래스를 추가해주세요. */
.hidden {
    display: none;
}

/* Search Container Styles */
.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}




