/* styles.css */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
}

.logo {
    text-align: center;
}

.logo-image {
    width: 300px;
}

.login-section {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.login-container h2 {
    margin-top: 0;
}

.login-container p {
    color: #888;
}

form {
    width: 350px;
    margin: 25px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group input {
    width: 100%;
    height: 50px;
    padding: 8px;
    font-size: large;
    box-sizing: border-box;
    border: 1px solid #e4e4e4;
    border-radius: 4px;
}

.form-group input:focus {
    border-color: #000000;
    outline: none;
}

.error-message {
    color: #ff0000;
    text-align: left;
    margin-bottom: 15px;
}

.btn {
    width: 100%;
    padding: 10px;
    font-size: large;
}



