/* notification-box Styles */
.notification-box {
    position: absolute;
    padding: 10px;
    top: 58px;
    left: -230px;
    width: 200px;
    height: calc(100vh - 82px);
    overflow-y: auto;
    background-color: white;
    border-top: 2px solid #f1f1f1;
    border-left: 2px solid #f1f1f1;
    border-bottom: 2px solid #f1f1f1;
    border-right: 2px solid #e9e9e9;
    z-index: 10;
    transition: transform 0.3s ease-in-out;
}
.notification-box.open {
    transform: translateX(420px);
}

.notification-box-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #f1f1f1;
    padding: 10px 0 10px 0;
    margin-bottom: 5px;
}

.notification-box-header h4 {
    margin: 0;
}

.notification-box .btn-area {
    display: flex;
    flex-direction: row;
    gap: 10px
}

/* notification-content Styles */

/* 콘텐츠가 비어있을 때 */
.empty-notification {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.empty-message {
    color: #B1B1B1;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
    font-style: italic;
}

/* 콘텐츠가 있을 때 */
.notification-box-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.notification-box-content ul li {
    border-bottom: 1px solid #eee;
}

.notification-item {
    padding: 5px;
    margin: 5px 0;
    display: flex;
    align-items: center;
}

.notification-item:hover {
    background-color: #E1F4FD;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.notification-item:hover .relative-time {
    display: none;
}

.notification-item:hover .delete-icon {
    display: inline-block;
}

/* 마커 스타일 */
.notification-item .marker {
    background-color: #18A8F1;
    border-radius: 50%;
    width: 8px;
    height: 8px;
    margin-right: 8px;
    flex-shrink: 0;
}

.notification-item.unread .marker {
    display: inline-block;
}

.notification-item.read .marker {
    display: none;
}

.notification-item div {
    display: flex;
    justify-content: space-between;
}

/* 메시지 스타일 */
.notification-item .message {
    flex-grow: 1;
    font-size: 15px;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

/* 상대 시간 스타일 */
.notification-item .relative-time {
    font-size: 12px;
    color: #888888;
    margin-left: 2px;
    flex-shrink: 0;
}

/* 삭제 아이콘 */
.notification-item .delete-icon {
    display: none;
    width: 18px;
    height: 18px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.notification-item .delete-icon:hover {
    transform: scale(1.2);
}

