.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-option {
    display: flex;
    align-items:center;
    gap: 5px;
}

.search-option .image-btn {
    width: 25px;
    padding: 2px;
}

.pagination-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.pagination {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    gap: 5px;
    margin-top: 10px;
}
.page-area {
    margin-top: 2px;
}
.btn-container {
    margin-left: auto;
}