<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Session Attributes</title>
</head>
<body>
<h1>Session Attributes</h1>
<table border="1">
    <thead>
    <tr>
        <th>Attribute Name</th>
        <th>Attribute Value</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="entry : ${sessionAttributes}">
        <td th:text="${entry.key}"></td>
        <td th:text="${entry.value}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>
