.absent {
    color: #FF0000;  /* 빨간색 */
    font-weight: bold;
}

.late {
    color: #FF8000;  /* 주황색 */
    font-weight: bold;
}

.early-leave {
    color: #FFD700;  /* 금색 */
    font-weight: bold;
}

.business-trip {
    color: #8A2BE2;
    font-weight: bold;
}

.vacation {
    color: #18A8F1;  /* 파란색 */
    font-weight: bold;
}

.present {
    color: #32CD32;  /* 초록색 */
    font-weight: bold;
}