<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{fragments/layout-with-modal :: layout(title='급여정보 조회')}">

<th:block layout:fragment="css">
    <link th:href="@{/css/salary/salary.css}" rel="stylesheet">

</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/js/salary/list.js}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            formatSalaries();
        });
    </script>
</th:block>

<div layout:fragment="~{content}">
    <div class="content">
        <h3>모든 급여정보 목록</h3>
        <div class="search-container">
            <form th:action="@{/salary/list}" method="get" id="pageSizeForm">
                <input type="hidden" name="page" th:value="1"/>
                <select name="size" onchange="document.getElementById('pageSizeForm').submit()">
                    <option th:value="10" th:text="'10개씩 보기'" th:selected="${pageSize == 10}">10개씩 보기</option>
                    <option th:value="25" th:text="'25개씩 보기'" th:selected="${pageSize == 25}">25개씩 보기</option>
                    <option th:value="50" th:text="'50개씩 보기'" th:selected="${pageSize == 50}">50개씩 보기</option>
                </select>
                <input type="hidden" name="keyword" th:value="${keyword}"/>
                <input type="hidden" name="department" th:value="${department}">
            </form>
            <form th:action="@{/salary/list}" method="get">
                <input type="hidden" name="page" value="1">
                <input type="hidden" name="size" th:value="${pageSize}"/>
                <input type="text" name="keyword" placeholder="검색어 입력" th:value="${keyword}"/>
                <input type="hidden" name="department" th:value="${department}">
                <button type="submit">검색</button>
            </form>
        </div>
        <form th:action="@{/salary/list}" method="get" id="department-nav">
            <input type="radio" id="all" class="hidden" name="department" value="" th:checked="${department == ''}" onclick="this.form.submit()">
            <label for="all" class="radio-btn">전체 부서</label>

            <input type="radio" id="HR" class="hidden" name="department" value="HR" th:checked="${department == 'HR'}" onclick="this.form.submit()">
            <label for="HR" class="radio-btn">HR(인사)</label>

            <input type="radio" id="FI" class="hidden" name="department" value="FI" th:checked="${department == 'FI'}" onclick="this.form.submit()">
            <label for="FI" class="radio-btn">FI(재무)</label>

            <input type="radio" id="SA" class="hidden" name="department" value="SA" th:checked="${department == 'SA'}" onclick="this.form.submit()">
            <label for="SA" class="radio-btn">SA(영업)</label>

            <input type="radio" id="MK" class="hidden" name="department" value="MK" th:checked="${department == 'MK'}" onclick="this.form.submit()">
            <label for="MK" class="radio-btn">MK(마케팅)</label>

            <input type="radio" id="PR" class="hidden" name="department" value="PR" th:checked="${department == 'PR'}" onclick="this.form.submit()">
            <label for="PR" class="radio-btn">PR(생산)</label>

            <input type="radio" id="QC" class="hidden" name="department" value="QC" th:checked="${department == 'QC'}" onclick="this.form.submit()">
            <label for="QC" class="radio-btn">QC(품질관리)</label>

            <input type="radio" id="RD" class="hidden" name="department" value="RD" th:checked="${department == 'RD'}" onclick="this.form.submit()">
            <label for="RD" class="radio-btn">RD(연구개발)</label>

            <input type="hidden" name="page" th:value="1"/>
            <input type="hidden" name="size" th:value="${pageSize}"/>
            <input type="hidden" name="keyword" th:value="${keyword}"/>
        </form>
        <table border="1" class="list">
            <thead>
                <tr>
                    <th>급여 ID</th>
                    <th>사원 ID</th>
                    <th>부서</th>
                    <th>직급</th>
                    <th>은행</th>
                    <th>계좌번호</th>
                    <th>연봉</th>
                    <th>등록된 날짜</th>
                    <th>사용 여부</th>
                </tr>
            </thead>
            <tbody>
                <tr th:if="${salaries.isEmpty()}">
                    <td colspan="8" style="text-align: center; padding: 20px;">
                        조회된 급여 정보가 없습니다. 다른 검색 조건을 시도해보세요.
                    </td>
                </tr>
                <tr th:each="salary : ${salaries}" th:employeeId="${salary.employeeId}" th:onclick="openModal('/employee/' + this.getAttribute('employeeId'))">
                    <td th:text="${salary.salaryId}">급여 ID</td>
                    <td th:text="${salary.employeeId}">사원 ID</td>
                    <td th:text="${salary.department.name}">부서</td>
                    <td th:text="${salary.position.name}">직급</td>
                    <td th:text="${salary.bank}">은행</td>
                    <td th:text="${salary.accountNumber}">계좌번호</td>
                    <td th:text="${salary.annualSalary}" class="annualSalary">연봉</td>
                    <td th:text="${salary.createdAt}">등록된 날짜</td>
                    <td th:text="${salary.status} ? '사용 중' : '사용 중지'"
                        th:classappend="${salary.status} ? 'true' : 'false'">사용 여부</td>
                </tr>
            </tbody>
        </table>
        <div class="pagination">
            <span th:if="${currentPage > 1}">
                <a th:href="@{'/salary/list?page=' + (${currentPage - 1}) + '&size=' + ${pageSize} + '&keyword=' + ${keyword}}">
                    <img th:src="@{/images/icons/arrow-left.png}" alt="이전" class="icon">
                </a>
            </span>
            <span th:if="${totalPages <= 5}">
                <span th:each="i : ${#numbers.sequence(1, totalPages)}">
                    <a th:href="@{'/salary/list?page=' + ${i} + '&size=' + ${pageSize} + '&keyword=' + ${keyword}}"
                       th:text="${i}" th:classappend="${i == currentPage} ? 'active' : ''">1</a>
                </span>
            </span>
            <span th:if="${totalPages > 5}">
                <span th:each="i : ${#numbers.sequence(
                                currentPage > 3 ? (currentPage < totalPages - 2 ? currentPage - 2 : totalPages - 4) : 1,
                                currentPage > 3 ? (currentPage < totalPages - 2 ? currentPage + 2 : totalPages) : 5)}">
                    <a th:href="@{'/salary/list?page=' + ${i} + '&size=' + ${pageSize} + '&keyword=' + ${keyword}}"
                       th:text="${i}" th:classappend="${i == currentPage} ? 'active' : ''">1</a>
                </span>
                </span>
            <span th:if="${currentPage < totalPages}">
                <a th:href="@{'/salary/list?page=' + (${currentPage + 1}) + '&size=' + ${pageSize} + '&keyword=' + ${keyword}}">
                    <img th:src="@{/images/icons/arrow-right.png}" alt="다음" class="icon">
                </a>
            </span>
        </div>

        <h3>급여정보 미등록 사원 목록</h3>
        <table border="1" class="list">
            <thead>
            <tr>
                <th>급여 ID</th>
                <th>사원 ID</th>
                <th>부서</th>
                <th>직급</th>
                <th>급여정보 등록</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${employeesWithoutSalary.isEmpty()}">
                <td colspan="7" style="text-align: center; padding: 20px;">
                    모든 사원의 급여 정보가 등록되어 있습니다.
                </td>
            </tr>
            <tr th:each="employee : ${employeesWithoutSalary}" th:employeeId="${employee.employeeId}" th:onclick="openModal('/employee/' + this.getAttribute('employeeId'))">
                <td th:text="${employee.employeeId}">사원 ID</td>
                <td th:text="${employee.name}">이름</td>
                <td th:text="${employee.department}">부서</td>
                <td th:text="${employee.position}">직급</td>
                <td>
                    <button type="button" th:employeeId="${employee.employeeId}" onclick="goToRegisterForm(event, this.getAttribute('employeeId'))">급여정보 등록</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</html>