<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{fragments/layout :: layout(title='급여정보 등록')}">

<th:block layout:fragment="css"></th:block>

<th:block layout:fragment="script">
    <script th:src="@{/js/salary/register.js}"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            updateEmployeeDetails();
        });
    </script>
</th:block>

<div layout:fragment="~{content}">
    <div class="content">
        <form action="/api/salary/register" method="POST" onsubmit="submitForm(event)">
            <div class="form-group">
                <label for="employeeSelect">사원</label>
                <select id="employeeSelect" name="employeeId" onchange="updateEmployeeDetails()">
                    <option value="" disabled selected>사원을 선택해주세요.</option>
                    <option id="employeeId" th:each="employee : ${employeeList}" th:value="${employee.employeeId}"
                            th:selected="${employee.employeeId == selectedEmployeeId}"
                            th:data-name="${employee.name}"
                            th:data-department="${employee.department}"
                            th:data-position="${employee.position}"
                            th:text="${employee.name} + ' (' + ${employee.employeeId} + ')'">
                    </option>
                </select>
                <input type="hidden" id="name" name="name"/>
            </div>
            <div class="form-group">
                <label for="department">부서</label>
                <input type="text" id="department" name="department" readonly/>
            </div>
            <div class="form-group">
                <label for="position">직급</label>
                <input type="text" id="position" name="position" readonly/>
            </div>
            <div class="form-group">
                <label>은행</label>
                <select id="bank" name="bank">
                    <option value="" disabled selected>은행을 선택해주세요.</option>
                    <option value="KB국민은행">KB국민은행</option>
                    <option value="카카오뱅크">카카오뱅크</option>
                    <option value="신한은행">신한은행</option>
                    <option value="NH농협은행">NH농협은행</option>
                    <option value="하나은행">하나은행</option>
                    <option value="우리은행">우리은행</option>
                    <option value="IBK기업은행">IBK기업은행</option>
                    <option value="케이뱅크">케이뱅크</option>
                    <option value="새마을금고">새마을금고</option>
                    <option value="우체국">우체국</option>
                    <option value="신협">신협</option>
                    <option value="SC제일은행">SC제일은행</option>
                </select>
            </div>
            <div class="form-group">
                <label>계좌번호</label>
                <input type="text" id="accountNumber" name="accountNumber" maxlength="30" placeholder="'-' 없이 숫자만 입력해주세요" oninput="validateAccountNumber()"/>
            </div>
            <div class="form-group">
                <label>연봉</label>
                <input type="text" id="annualSalary" name="annualSalary" maxlength="11" placeholder="금액을 입력해주세요." oninput="formatAnnualSalary()"/>
            </div>
            <div class="error-message"></div>
            <div class="btn-are">
                <button type="reset" class="btn">초기화</button>
                <button type="submit" class="btn">급여 정보 등록</button>
            </div>
        </form>
    </div>
</div>