.input-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"] {
    width: 95%;
}

.radio-group {
    width: 95%;
}

.upper-part {
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
    border-left: 1px solid #000000;
    padding: 10px;
}

.error-message {
    margin-top: 15px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-top: 15px;
}

.button-container .btn {
    width: 33%;
    font-size: 16px;
}